<div class="position-relative mb-3" *ngIf="this.dialogData['flagStatus']=='maintenance'">
    <p class="modal-title mb-0" id="MaintenanceModalLabel">Mark <span class="fw-bold text-main">
            {{dialogData?.vehicleNo}} </span> in 'Maintenance'</p>
    <h5 *ngIf="this.dialogData['flagStatus']=='shareLocation'" mat-dialog-title class="mb-0">Share Location</h5>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close (click)="onNoClick('No')"><i
            class="fas fa-times"></i></button>
</div>
<form *ngIf="this.dialogData['flagStatus']=='maintenance'" [formGroup]="maintananceForm"
    (ngSubmit)="submitvehicleMarkMaintance()">
    <div class="form-container">
        <div class="mb-3">
            <div class="form-label">Select Maintenance Type</div>
            <div class="d-flex align-items-center ps-3">
                <mat-radio-group aria-label="Select Maintenance Type" formControlName="maintenanceType">
                    <mat-radio-button value="1" id="Scheduled">Scheduled</mat-radio-button>
                    <mat-radio-button value="2" id="Repair">Repair</mat-radio-button>
                    <mat-radio-button value="3" id="Accident">Accident</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="mb-0">
            <div class="form-label">Since when the vehicle is in Maintenance?</div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="standard" class="w-100"  (click)="fromDate.open()">
                        <mat-label>From Date and time</mat-label>
                        <input matInput [ngxMatDatetimePicker]="fromDate"  [max]="currentDate"
                            formControlName="maintenanceFrom">
                        <mat-datepicker-toggle matSuffix [for]="$any(fromDate)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #fromDate>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="standard" class="w-100"  (click)="toDate.open()">
                        <mat-label>To Date and time</mat-label>
                        <input matInput [ngxMatDatetimePicker]="toDate" formControlName="maintenanceTo"
                            [max]="currentDate" [min]="this.maintananceForm.controls['maintenanceFrom'].value">
                        <mat-datepicker-toggle matSuffix [for]="$any(toDate)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #toDate>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-form-field appearance="standard" class="w-100">
            <mat-label>Add Remarks</mat-label>
            <textarea matInput placeholder="Type here..." formControlName="remark" [maxlength]="100"></textarea>
        </mat-form-field>
    </div>
    <div class="form-container w-100">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-light-main" mat-dialog-close (click)="onNoClick('No')">Cancel</button>
            <button class="btn btn-main">Mark Vehicle In Maintenance</button>
        </div>
    </div>
</form>

<!-- <div class="position-relative mb-4">
    <h5 mat-dialog-title class="mb-0">Share Location</h5>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close><i
            class="fas fa-times"></i></button>
</div> -->

<div class="row mb-4" *ngIf="this.dialogData['flagStatus']=='shareLocation'">
    <div class="col-sm-8">
        <mat-form-field appearance="standard" class="w-100">
            <mat-label>Select Time Period</mat-label>
            <mat-select name="timePeriod" [formControl]="timePeriod">
                <mat-option *ngFor="let item of timeZone" [value]="item?.id">
                    {{item?.lable}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <div class="form-container">
            <label class="form-label">Share Via</label>
            <div class="d-block">
                <img src="assets/images/Tracking/whatsapp.svg" class="share-icon me-4">
                <img src="assets/images/Tracking/gmail.svg" class="share-icon">
            </div>
        </div>
    </div>
</div>
<div class="form-container w-100" *ngIf="this.dialogData['flagStatus']=='shareLocation'">
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light-main" type="button" mat-dialog-close
            (click)="onNoClick('No')">Close</button>
        <button type="button" class="btn btn-main" cdkFocusInitial (click)="onNoClick('Yes')" type="submit">Share
            Location</button>
    </div>
</div>


<div class="position-relative mb-3" *ngIf="this.dialogData['flagStatus']=='compliant'">
    <p class="modal-title mb-0" id="ComplentModalLabel">Ticket Raise For<span class="fw-bold text-main">
            {{dialogData?.vehicleNo}} </span></p>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close (click)="onNoClick('No')"><i
            class="fas fa-times"></i></button>
</div>
<form *ngIf="this.dialogData['flagStatus']=='compliant'"  [formGroup]="complaintForm" (ngSubmit)="submitvehicleComplent()">
    <div class="form-container">
        <p class="mb-0">GPS Wire Cut <small class="text-muted"> {{currentDate | date}} {{currentDate |
                date:'hh:mm'}}</small></p>
        <small class="text-muted">The Technician will visit you as per the below details.</small>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Your Number</mat-label>
                    <input matInput placeholder="Your Number"  formControlName="userMobileNumber">
                    <span matPrefix class="me-2">+91 </span>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Driver's Phone Number</mat-label>
                    <input matInput placeholder="Driver's Phone Number"  formControlName="DriverMobileNumber">
                    <span matPrefix class="me-2">+91 </span>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Vehicle's available State</mat-label>
                    <mat-select formControlName="stateId" (selectionChange)="getCity(complaint['stateId'].value)">
                        <mat-option *ngFor="let item of stateData" [value]="item?.id">
                            {{item?.state}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Vehicle's available City</mat-label>
                    <mat-select formControlName="cityId" >
                        <mat-option *ngFor="let item of cityData" [value]="item?.id" >
                            {{item?.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="standard" class="w-100" (click)="availabledate.open()">
                    <mat-label>Vehicle's available Date</mat-label>
                    <input matInput [matDatepicker]="availabledate"  formControlName="vehicleDate" [min]="currentDate">
                    <mat-datepicker-toggle matSuffix [for]="availabledate"></mat-datepicker-toggle>
                    <mat-datepicker #availabledate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="standard" class="w-100" (click)="availabletime.open()">
                    <mat-label>Vehicle’s available Time</mat-label>
                    <input matInput [ngxTimepicker]="availabletime" formControlName="vehicleTime" >
                    <ngx-material-timepicker #availabletime ></ngx-material-timepicker>
                    <mat-icon matSuffix >access_time</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="form-container w-100">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-light-main" (click)="onNoClick('No')" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-main">Raise Ticket</button>
        </div>
    </div>
</form>


<div class="position-relative mb-3 border-bottom pb-2"
    *ngIf="this.dialogData['flagStatus']=='ManitananceViewDetails' ||this.dialogData['flagStatus']=='complentViewDetails'">
    <p class="modal-title mb-0" id="MaintenanceModalLabel"><span class="fw-bold text-main">
            {{dialogData[0]?.vehicleNumber || dialogData[0]?.vehicleNo}} </span>{{this.dialogData['flagStatus']=='complentViewDetails'?'Ticket' :'Maintenance' }}</p>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close (click)="onNoClick('No')"><i
            class="fas fa-times"></i></button>
</div>
<div class="form-container" *ngIf="dialogData['flagStatus']=='ManitananceViewDetails'">
    <p class="mb-2 fw-bold">Details</p>
    <div class="row mb-2">
        <div class="col-sm-5">
            <mat-label class="form-label">Maintanance Type </mat-label>
        </div>
        <div class="col-sm-7">
            <mat-label class="form-data">{{': '+dialogData[0]?.maintenanceTypeDetails}}</mat-label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-5">
            <mat-label class="form-label">From Date And Time </mat-label>
        </div>
        <div class="col-sm-7">
            <mat-label class="form-data">{{': '+dialogData[0]?.maintenanceFrom}}</mat-label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-5">
            <mat-label class="form-label">To Date And Time </mat-label>
        </div>
        <div class="col-sm-7">
            <mat-label class="form-data">{{': '+dialogData[0]?.maintenanceTo }}</mat-label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-5">
            <mat-label class="form-label">Remark </mat-label>
        </div>
        <div class="col-sm-7">
            <mat-label class="form-data">{{': '+dialogData[0]?.remark}}</mat-label>
        </div>
    </div>
</div>
<div class="form-container" *ngIf="this.dialogData['flagStatus']=='complentViewDetails'">
    <p class="mb-0">Details</p>
    <div class="row">
        <div class="col-sm-6">
            <mat-label>Ticket Id </mat-label>
        </div>
        <div class="col-sm-6">
            <mat-label>{{': '+  dialogData[0]?.complaintId}}</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-label>Status </mat-label>
        </div>
        <div class="col-sm-6">
            <mat-label>{{': '+  dialogData[0]?.complaintStatus}}</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-label>Driver Phone Number </mat-label>
        </div>
        <div class="col-sm-6">
            <mat-label>{{': '+  dialogData[0]?.driverMobileNo ||'--'}}</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-label>Vehicle Location </mat-label>
        </div>
        <div class="col-sm-6">
            <mat-label>{{': '+  dialogData[0]?.address ||'--'}}</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-label>Available Time </mat-label>
        </div>
        <div class="col-sm-6">
            <mat-label>{{': '+  dialogData[0]?.complaintDate ||'--'}}</mat-label>
        </div>
    </div>
</div>