.noti-title{
    font-weight: 500;
    font-size: 0.85rem;
}
.form-switch{
    font-size: 1.1rem;
}
.bg-extra-light{
    background: #EFEFEF;
}
.srno{
    width: 50px;
}
.row-select{
    cursor:pointer;
    position: relative;
}
.row-select .icon{ 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    transform:rotate(0deg);
   }
.row-select:not(.collapsed) .icon{
    transform: rotate(180deg);
    transition: all 0.5s ease;
}
 .list-group-item{
    font-family: "Poppins", sans-serif !important;
    background-color:transparent;
    padding: 15px;
 }
 
//  ng-tns-c155-4 ng-star-inserted

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
 
  .example-element-detail {
    overflow: hidden;
  }
    
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-slider-horizontal {
    height: 28px !important;
    margin-top: -20px !important;
}

div#pills-notifications .row .col-sm-6:last-child ul li,
div#pills-notifications .row .col-sm-6:nth-last-child(2) ul li {
  border-bottom: 0!important;
}