<p class="fw-bold small mb-2">settings</p>


<div class="row">
    <div class="col-sm-12">
        <div class="bg-main-gradient py-2 px-3 rounded mb-3">
            <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-stoppage-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-stoppage" type="button" role="tab" aria-controls="pills-stoppage"
                        aria-selected="true">Notifications</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-distance-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-distance" type="button" role="tab" aria-controls="pills-distance"
                        aria-selected="false">Change Password</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-tools-tab" data-bs-toggle="pill" data-bs-target="#pills-tools"
                        type="button" role="tab" aria-controls="pills-tools" aria-selected="false">Vehicle
                        Notifications</button>
                </li>
            </ul>
        </div>
        <div class="card border-0 rounded">
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-stoppage" role="tabpanel"
                        aria-labelledby="pills-stoppage-tab" tabindex="0">
                        <div class="row justify-content-between">
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Boxopen-Off</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Boxopen-On</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="row justify-content-between mt-3">
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Geofence-In</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Geofence-Out</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="row justify-content-between mt-3">
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Ignition-Off</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Ignition-On</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="row justify-content-between mt-3">
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Over Speed</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                    <div class="col-sm-10">
                                        slider
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Power-Connected</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="row justify-content-between mt-3">
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Power-Cut</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Connect-back-to-main-Battery</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="row justify-content-between mt-3">
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Low-battery-removed</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Low-battery</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="row justify-content-between mt-3">
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Disconnect-Battery</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row justify-content-between ">
                                    <div class="col-sm-10">
                                        <p>Tilt</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                    <div class="col-sm-10">
                                        slider
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="pills-distance" role="tabpanel" aria-labelledby="pills-distance-tab"
                        tabindex="0">
                        <div class="row justify-content-between">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div>Current Password</div>
                                        <mat-form-field appearance="fill" class="">
                                            <mat-label>Enter your password</mat-label>
                                            <input matInput>
                                            <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
                                                <mat-icon></mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div>New Password</div>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Enter your password</mat-label>
                                            <input matInput>
                                            <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
                                                <mat-icon></mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div>Confirm Password</div>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Enter your password</mat-label>
                                            <input matInput>
                                            <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
                                                <mat-icon></mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button color="primary" class="">Submit</button>
                            </div>
                            <div class="col-sm">
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="pills-tools" role="tabpanel" aria-labelledby="pills-tools-tab"
                        tabindex="0">
                        <div class="row justify-content-between">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Vehicle Notifications List</p>
                                            </div>
                                            <div class="col-sm-3">
                                                Search
                                            </div>
                                            <div class="col-sm">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">SR.NO</th>
                                                    <th scope="col">VEHICLE NO</th>
                                                    <th scope="col">VEHICLE TYPE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <th scope="row">1</th>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <img src="../../../assets/images/Driver profile.svg"
                                                                    alt="...">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                MH12 AB 1230
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        Tuck
                                                        <mat-icon class="ms-2">
                                                            arrow_drop_down
                                                        </mat-icon>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td colspan="12" class="p-0">
                                                        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordion">
                                                            <div class="row justify-content-between">
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Boxopen-Off</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Boxopen-On</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                                            <mat-divider></mat-divider>
                                    
                                                            <div class="row justify-content-between mt-3">
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Geofence-In</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Geofence-Out</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                                            <mat-divider></mat-divider>
                                    
                                                            <div class="row justify-content-between mt-3">
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Ignition-Off</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Ignition-On</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                                            <mat-divider></mat-divider>
                                    
                                                            <div class="row justify-content-between mt-3">
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Over Speed</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            slider
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Power-Connected</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                                            <mat-divider></mat-divider>
                                    
                                                            <div class="row justify-content-between mt-3">
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Power-Cut</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Connect-back-to-main-Battery</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                                            <mat-divider></mat-divider>
                                    
                                                            <div class="row justify-content-between mt-3">
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Low-battery-removed</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Low-battery</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                                            <mat-divider></mat-divider>
                                    
                                                            <div class="row justify-content-between mt-3">
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Disconnect-Battery</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row justify-content-between ">
                                                                        <div class="col-sm-10">
                                                                            <p>Tilt</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <mat-slide-toggle></mat-slide-toggle>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            slider
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <img src="../../../assets/images/Driver profile.svg"
                                                                    alt="...">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                MH12 AB 1230
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Thornton</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <img src="../../../assets/images/Driver profile.svg"
                                                                    alt="...">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                MH12 AB 1230
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Thornton</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <img src="../../../assets/images/Driver profile.svg"
                                                                    alt="...">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                MH12 AB 1230
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Thornton</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <img src="../../../assets/images/Driver profile.svg"
                                                                    alt="...">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                MH12 AB 1230
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Thornton</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>