agm-map {
    height: 400px;
    width: 650px;
}
mat-radio-group {
    display: flex;
    flex-direction: column;
}
.btn-view{
    position: absolute;
    right:5px;
    top: 5px !important;
    z-index: 9 !important;
    font-size: 0.85rem !important;
    background-color:#fefefe;
    box-shadow: 0px 0px 8px 3px rgb(171 171 171 / 85%);
}