<div class="bg-light-gradient text-dark p-2 pb-0">
    <p>Driver Registration </p>
</div>
<mat-radio-group aria-label="Select an option" (change)="selMapType($event)">
    <mat-radio-button value="1" [checked]="true"><small>Roadmap</small></mat-radio-button>
    <mat-radio-button value="2" class="ms-2"><small>Satellite Map</small></mat-radio-button>
  </mat-radio-group>

<form [formGroup]="geofenceForm" (ngSubmit)="onSubmit()">
    <div class="row mb-1">
        <div class="col-sm-5">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Select Vehicle</mat-label>
                <mat-select formControlName="vehicleId" multiple>
                    <mat-option disabled="disabled" class="filter-option">Select Vehicle</mat-option>
                    <mat-option *ngFor="let vhlNumber of VehicleDtArr" [value]="vhlNumber.id">
                        {{vhlNumber.vehicleRegistrationNo}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="f['vehicleId'].errors?.required" class="text-danger">
                        Vehicle No. is required</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-7">
            <mat-form-field class="w-100" appearance="legacy">
                <mat-label>Search Area</mat-label>
                <input matInput aria-label="Number" placeholder="Search Location" autocorrect="off" autocapitalize="off"
                    spellcheck="off" autocomplete="off" type="text" #search formControlName="poiAddress"
                    (keydown.enter)="removeShape();$event.preventDefault()">
                <mat-icon matSuffix *ngIf="!geofenceForm.value.poiAddress">search</mat-icon>
                <mat-icon matSuffix *ngIf="geofenceForm.value.poiAddress" (click)="clearAddress()">closed</mat-icon>
                
                <!-- <mat-error>
                    <span *ngIf="f['poiAddress'].errors?.required" class="text-danger">
                        Area is required</span>
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <div class="position-relative">
        <agm-map [latitude]="configService.lat" [zoom]="6" [longitude]="configService.long" [mapTypeId]="mapViewType"
            (mapReady)="onMapReady($event)">
        </agm-map>
        <button class="btn-map-close" (click)="removeShape()" *ngIf="isShapeDrawn" aria-label="Remove Shape"><i
                class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-light-main" mat-dialog-close>Cancel</button>
        <button type="submit" class="btn btn-main">Submit</button>
    </div>
</form>