<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
        <img src="assets/images/FleetExpress-DashboardLogo.svg">
      </div>
      <div class="sidebar-menu">
        <!-- <ul>
            <li *ngFor="let menu of menus" [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
              <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
              <a *ngIf="menu.type !== 'header'"  (click)='toggle(menu)'>
                <i class="{{menu.icon}}"></i>
                <span>{{menu.title}}</span>
              </a>
              <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
                <ul>
                  <li *ngFor="let submenu of menu.submenus">
                    <a > {{submenu.title}}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul> -->
        <ul>
          <!-- <li class="header-menu">
            <span>Extra</span>
          </li> -->
          <li>
            <a routerLink="dashboard" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/Dashboard-light.svg':'assets/images/sidebar/Dashboard-dark.svg'">
              </div>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="tracking" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/tracking-light.svg':'assets/images/sidebar/tracking-dark.svg'">
              </div>
              <span>Tracking</span>
            </a>
          </li>
          <li>
            <a routerLink="register-vehicle" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/vehicle-light.svg':'assets/images/sidebar/vehicle-dark.svg'">
              </div>
              <span>Vehicle</span>
            </a>
          </li>
          <li>
            <a routerLink="driver" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/Driver-Registration-light.svg':'assets/images/sidebar/Driver-Registration-dark.svg'">
              </div>
              <span>Driver</span>
            </a>
          </li>
          <li>
            <a routerLink="geofence" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/Geofence-light.svg':'assets/images/sidebar/Geofence-dark.svg'">
              </div>
              <span>Geofence</span>
            </a>
          </li>
          <li>
            <a routerLink="payment" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/payment-light.svg':'assets/images/sidebar/payment-dark.svg'">
              </div>
              <span>Payment</span>
            </a>
          </li>
          <li>
            <a routerLink="reports" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/report-light.svg':'assets/images/sidebar/report-dark.svg'">
              </div>
              <span>Report</span>
            </a>
          </li>
          <li>
            <a routerLink="user-management-system" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/UMS-light.svg':'assets/images/sidebar/UMS-dark.svg'">
              </div>
              <span>Users</span>
            </a>
          </li>
          <li>
            <a routerLink="settings" routerLinkActive="active">
              <div class="menu-item">
                <img [src]="lightIcon=='light'?'assets/images/sidebar/settings-light.svg':'assets/images/sidebar/settings-dark.svg'">
              </div>
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
</nav>