<div class="container pt-5">
    <div class="row justify-content-center" id="loginbox">
        <div class="col-sm-12 col-lg-4 col-md-7">
            <div class="text-center mb-4">
                <img src="assets/images/FleetExpress-Login-logo.svg">
            </div>
            <div class="card card-body">
                <h4>LOGIN</h4>
                <div class="form-container">
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                        <div class="mb-0">
                            <div class="d-block">
                                <mat-form-field [appearance]="config.matFormField" class="w-100">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Enter Username" formControlName="username"
                                        autocomplete="off" required [ngClass]="{ 'is-invalid':f['username'].errors}"
                                        (keypress)="this.valService.noSpaces($event);this.valService.alphaNumeric($event)" maxlength="20">
                                    <mat-error *ngIf="f['username'].errors">
                                        <span *ngIf="f['username'].errors?.required" class="text-danger">
                                            Username is required</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mb-3">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                    autocomplete="off" required [ngClass]="{ 'is-invalid':f['password'].errors}"
                                    (keypress)="this.valService.noSpaces($event)" minlength="8" maxlength="20">
                                <button type="button" mat-icon-button matSuffix type="button" class="text-muted" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="f['password'].errors">
                                    <span *ngIf="f['password'].errors?.required" class="text-danger">
                                        Password is required</span>
                                    <span *ngIf="f['password'].errors?.pattern" class="text-danger">Enter Valid
                                        Password</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- class="text-center" -->
                        <div class="mb-3">
                            <div class="row gx-1 align-items-center">
                                <div class="col-sm">
                                    <div id="captcha">
                                    </div>
                                </div>
                             <div class="col-sm-auto">
                                    <button type="button" class="mat-icon-button btn btn-light p-2 mb-3 bg-light" type="button" (click)="reCaptcha()">
                                        <mat-icon>cached</mat-icon>
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Enter Captcha</mat-label>
                                        <input matInput placeholder="Enter Captcha" formControlName="captcha" required
                                        [ngClass]="{ 'is-invalid':f['captcha'].errors}" >
                                        <mat-error>
                                            <span *ngIf="f['captcha'].errors?.required" class="text-danger">
                                                Captcha is required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div> 
                            </div>
                        </div>
                        <div class="mb-0">
                            <button type="submit" class="btn btn-main w-100">LOGIN</button>
                        </div>
                        <div class="text-end mt-2">
                            <a routerLink="../forgot-password">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>