<div class="container pt-5">
    <div class="row justify-content-center" id="loginbox">
        <div class="col-sm-4">
            <div class="text-center mb-4">
                <img src="assets/images/FleetExpress-Login-logo.svg">
            </div>
            <div class="card card-body">
                <h4>LOGIN</h4>
                <div class="form-container">
                    <form [formGroup]="loginForm">
                        <div class="mb-0">
                            <div class="d-block">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username" formControlName="username" autocomplete="off"
                                 required [ngClass]="{ 'is-invalid':f['username'].errors}"
                                  (keypress)="this.valService.noSpaces($event);this.valService.alphaNumeric($event)">
                                 <!-- <div *ngIf=" isSubmitted && f['username']?.errors.required" class="invalid-feedback">Enetr Username</div> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mb-0">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                autocomplete="off" required 
                                 (keypress)="this.valService.noSpaces($event)" minlength="8" maxlength="20">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <div class="row gx-1 align-items-center">
                                <div class="col-sm-4">
                                    <div id="captcha">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-light p-2 mb-3" type="button"
                                        (click)="reCaptcha()"><i class="fa fa-sync"></i></button>
                                </div>
                                <div class="col-sm-7">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Enter Captcha</mat-label>
                                        <input matInput placeholder="Enter Captcha" formControlName="captcha" required>                                        
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="mb-0">
                            <button class="btn btn-main w-100" (click)="onLoginSubmit()">LOGIN</button>
                        </div>
                        <div class="text-end mt-2">
                            <a routerLink="../forget-password">Forget Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>