<!-- <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
    <span class="swal2-success-line-tip"></span>
    <span class="swal2-success-line-long"></span>
    <div class="swal2-success-ring"></div>
    <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
    <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
</div> -->


<div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span
            class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
<h5 class="text-center mb-3">Are you Sure!</h5>
<p>Message</p>
<div class="form-container">
    <div class="d-flex w-100 justify-content-between">
        <button type="button" class="btn btn-light-main">No</button>
        <button type="button" class="btn btn-main">Yes</button>
    </div>
</div>