<div class="container pt-5">
    <div class="row justify-content-center" id="loginbox">
        <div class="col-sm-12 col-lg-4 col-md-7">
            <div class="text-center mb-4">
                <img src="assets/images/FleetExpress-Login-logo.svg">
            </div>
            <ng-container *ngIf="generateOTPContain">
                <div class="card card-body">
                    <form [formGroup]="sendOTPForm" (ngSubmit)="sendOTP()" (keyup.enter)="sendOTP()">
                        <h4>SEND OTP</h4>
                        <div class="form-container">
                            <div class="mb-1">
                                <div class="d-block">
                                    <mat-form-field [appearance]="config.matFormField" class="w-100">
                                        <mat-label>Mobile Number</mat-label>
                                        <input matInput placeholder="Mobile Number" formControlName="mobileNo"
                                            (keypress)="vs.onlyDigits($event)" [maxLength]="10" autocomplete="off">
                                        <mat-error *ngIf="sendOtp['mobileNo'].errors">
                                            <span class="text-danger" *ngIf="sendOtp['mobileNo'].hasError('required')">
                                                Mobile Number is required</span>
                                            <span class="text-danger" *ngIf="sendOtp['mobileNo'].hasError('pattern')">
                                                Enter Valid Mobile Number
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-main w-100">Send OTP</button>
                            </div>
                            <div class="mb-0 text-end">
                                <a routerLink="../login" class="text-main">Back to Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-container>
            <ng-container *ngIf="OTPContainer">
                <div class="card card-body">
                    <form [formGroup]="verifyOTPForm" (ngSubmit)="verifyOTP()" (keyup.enter)="verifyOTP()">
                        <h4>SUBMIT OTP</h4>
                        <div class="form-container">
                           
                            <div class="row mb-0  justify-content-around">
                                <div class="col-sm-2">
                                    <mat-form-field class="OTPStyle">
                                        <input matInput formControlName="otpA" class="text-center" [maxLength]="1"
                                            #input1 (keypress)="this.vs.onlyDigits($event)"
                                            (input)="(input1.value.length == 1) ? input2.focus() : 'input1.focus()'"
                                            autocomplete="off" value="otpA |upperCase" [ngClass]="{ 'is-invalid':verifyOtp['otpA'].errors}"
                                            (click)="onchangeOTP()">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <mat-form-field class="OTPStyle">
                                        <input matInput formControlName="otpB" class="text-center" [maxLength]="1"
                                            #input2 (keypress)="this.vs.onlyDigits($event)"
                                            (input)="(input2.value.length == 1) ? input3.focus() : 'input2.focus()'"
                                            autocomplete="off" (keyup.backspace)="input1.focus()"
                                            [ngClass]="{ 'is-invalid':verifyOtp['otpB'].errors}">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <mat-form-field class="OTPStyle">
                                        <input matInput formControlName="otpC" class="text-center" [maxLength]="1"
                                            #input3 (keypress)="this.vs.onlyDigits($event)"
                                            (input)="(input3.value.length == 1) ? input4.focus() : 'input3.focus()'"
                                            autocomplete="off" (keyup.backspace)="input2.focus()" [ngClass]="{ 'is-invalid':verifyOtp['otpC'].errors}">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <mat-form-field class="OTPStyle">
                                        <input matInput formControlName="otpD" class="text-center" [maxLength]="1"
                                            #input4 (keypress)="this.vs.onlyDigits($event)"
                                            (input)="(input4.value.length == 1) ? input5.focus() : 'input4.focus()'"
                                            autocomplete="off" (keyup.backspace)="input3.focus()" (keypress.enter)="input4.focus()"
                                            [ngClass]="{ 'is-invalid':verifyOtp['otpD'].errors}">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <mat-form-field class="OTPStyle">
                                        <input matInput formControlName="otpE" class="text-center OTPStyle2" [maxLength]="1"
                                            #input5 (keypress)="this.vs.onlyDigits($event)"
                                            (input)="(input5.value.length == 1) ? input5.focus() : ''"
                                            autocomplete="off" (keyup.backspace)="input4.focus()" [ngClass]="{ 'is-invalid':verifyOtp['otpE'].errors}">
                                    </mat-form-field>
                                </div>
                                    <div *ngIf=" otpFlag && (verifyOtp['otpA'].hasError('required') || verifyOtp['otpB'].hasError('required') || verifyOtp['otpC'].hasError('required') || verifyOtp['otpD'].hasError('required') || verifyOtp['otpE'].hasError('required'))">
                                        <span class="text-danger errorCustom">Please enter OTP</span>
                                </div>
                                <span style="color:#3C8EF9; font-size: 15px;" class="text-end  mb-2">
                                    <button mat-button type="button" color="primary" class="mb-2 lh-0 px-1" (click)="sendOTP()"
                                        [disabled]="timerFlag">Resend OTP</button>
                                    <span *ngIf="timerFlag" class="mb-2" style="color: #3C8EF9;">
                                        00:{{timer}}</span>
                                </span>
                            </div>
                            <div class="mb-0">
                                <button type="submit" class="btn btn-main w-100">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-container>
            <ng-container *ngIf="passContainer">
                <div class="card card-body">
                    <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
                        <h4>NEW PASSWORD</h4>
                        <div class="form-container">
                            <div class="mb-0 form-group">
                                <mat-form-field [appearance]="config.matFormField" class="w-100">
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password"
                                        autocomplete="off" minlength="8" maxlength="20" placeholder="Enter Password">
                                    <button type="button" mat-icon-button matSuffix type="button" (click)="hide1 = !hide1"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                                        autocomplete="off">
                                        <mat-icon class="text-muted">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passChange['password'].errors">
                                        <span class="text-danger" *ngIf="passChange['password'].hasError('required')">
                                            Password is required</span>
                                        <span class="text-danger"
                                            *ngIf="passChange['password'].hasError('pattern')">Please
                                            enter valid Password</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-3 form-group">
                                <mat-form-field [appearance]="config.matFormField" class="w-100">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput [type]="hide2 ? 'password' : 'text'"
                                        formControlName="confirmPassword" autocomplete="off" maxlength="20"
                                        placeholder="Enter Confirm Password">
                                    <button type="button" mat-icon-button matSuffix type="button" (click)="hide2 = !hide2"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon class="text-muted">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passChange['confirmPassword'].errors">
                                        <span class="text-danger"
                                            *ngIf="passChange['confirmPassword'].hasError('required')">
                                            Confirm Password is required</span>
                                        <span class="text-danger"
                                            *ngIf="passChange['confirmPassword'].hasError('pattern')">Please
                                            enter valid Confirm Password</span>
                                    </mat-error>
                                </mat-form-field>
                                <div class="form-text small">
                                    <i class="fa-regular fa-circle-question me-2"></i>Your password must be 1
                                    Uppercase,1 special character,1 number between 8 to
                                    20
                                    characters.
                                </div>
                            </div>
                            <div class="mb-0">
                                <button type="submit" class="btn btn-main w-100">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-container>
        </div>
    </div>
</div>