<div class="position-relative mb-3">
    <h5 mat-dialog-title class="mb-0">{{cardTitle}}</h5>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close (click)="onNoClick(formDirective)"><i
            class="fas fa-times"></i></button>
</div>


<div>
    <form [formGroup]="driverRegForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
        <div class="row">
            <div class="col-sm-3">
                <div class="position-relative">
                    <img src="{{driverProfile}}" class="vehicle-image">
                    <input type="file" #profileUpload name="myfile" accept=".jpg,.jpeg,.png"
                   style="display:none" (change)="profilePhoto($event)"/>
                    <div class="vehicle-buttons d-flex flex-column upload-btn-wrapper">
                        <button type="button" class="btn bg-light text-primary" *ngIf="!this.profilePhotoupd?.length || this.driverProfile=='assets/images/Driver-profile.svg'"
                            (click)="profileUpload.click()" matTooltip="Upload only png,jpg,jpeg file upto 10.48 MB">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        
                        <button type="button" class="border border-0 btn bg-light text-danger"
                            *ngIf="this.profilePhotoupd?.length && this.driverProfile!='assets/images/Driver-profile.svg'" (click)="clearDoc('profile')">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                       
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <mat-form-field [appearance]="config.matFormField" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value="" formControlName="firstName"
                                [value]="driverRegForm.get('firstName')?.value | titlecase"
                                (keypress)="this.validation.onlyAlphabets($event)" maxlength="15" required>
                            <mat-error *ngIf="f['firstName'].errors">
                                <span class="text-danger" *ngIf="f['firstName'].hasError('required')">
                                    first Name is required</span>
                                <span class="text-danger" *ngIf="f['firstName'].hasError('pattern')">
                                    first Name is Invalid</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="w-100" [appearance]="config.matFormField">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" value="" formControlName="lastName"
                                [value]="driverRegForm.get('lastName')?.value | titlecase"
                                (keypress)="this.validation.onlyAlphabets($event)" required maxlength="15">
                            <mat-error *ngIf="f['lastName'].errors">
                                <span class="text-danger" *ngIf="f['lastName'].hasError('required')">
                                    Last Name is required</span>
                                <span class="text-danger" *ngIf="f['lastName'].hasError('pattern')">
                                    Last Name is Invalid</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field [appearance]="config.matFormField" class="w-100">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput placeholder="Mobile Number" value="" formControlName="mobileNo"
                                (keypress)="this.validation.onlyDigits($event)" required
                                (keyup)="this.validation.noSpaces($event)" maxlength="10" format="number">
                            <mat-error *ngIf="f['mobileNo'].errors">
                                <span class="text-danger" *ngIf="f['mobileNo'].hasError('required')">
                                    Mobile Number is required</span>
                                <span class="text-danger" *ngIf="f['mobileNo'].hasError('pattern')">Enter
                                    valid mobile Number</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field [appearance]="config.matFormField" class="w-100">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob" [readonly]="true"
                                placeholder="Date of Birth" [max]="maxDate" (click)="picker.open()" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                            <mat-error *ngIf="f['dob'].errors">
                                <span class="text-danger" *ngIf="f['dob'].hasError('required')">
                                    Date of birth is required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field [appearance]="config.matFormField" class="w-100">
                            <input matInput [matDatepicker]="picker1" formControlName="licenceExpiryDate"
                                [readonly]="true" placeholder="Licence Expiry Date" (click)="picker1.open()" [min]="maxDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 startView="multi-year"></mat-datepicker>
                            <mat-error *ngIf="f['licenceExpiryDate'].errors">
                                <span class="text-danger" *ngIf="f['licenceExpiryDate'].hasError('required')">Licence
                                    expiry date required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>Driving Licence Number</mat-label>
                                <input matInput placeholder="Driving Licence Number" formControlName="licenceNumber"
                                    [ngClass]="{'is-invalid':f['licenceNumber'].errors}" maxlength="20" minlength="15"
                                    (blur)="checkDocumentUpd('licence')" required>
                                <mat-error *ngIf="f['licenceNumber'].errors">
                                    <span class="text-danger" *ngIf="f['licenceNumber'].hasError('pattern')">Enter valid
                                        licence
                                        number</span>
                                    <span class="text-danger" *ngIf="f['licenceNumber'].hasError('required')">Licence
                                        number
                                        is
                                        required</span>
                                </mat-error>
                            </mat-form-field>
                            <!-- formControlName="licenceDoc" -->
                            <input type="file" name="myfile" #licenceUpload style="display: none;"
                                (change)="documentUpload($event,'licence')" accept=".pdf" />
                            <button type="button" *ngIf="!this.licenceDoc?.length" mat-icon-button
                                (click)="licenceUpload.click()"
                                matTooltip="Upload only PDF file" accept=".pdf" required>
                                <mat-icon>file_upload</mat-icon>
                            </button>
                            <button type="button" class="border border-0 bg-white" *ngIf="this.licenceDoc?.length"
                                (click)="clearDoc('licence')">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>Aadhaar Number</mat-label>
                                <input matInput placeholder="Aadhaar Number" formControlName="aadharNumber"
                                    [ngClass]="{'is-invalid':f['aadharNumber'].errors}" maxlength="12"
                                    (keypress)="this.validation.onlyDigits($event)" minlength="12"
                                    (blur)="checkDocumentUpd('aadhar')" required>
                                <mat-error *ngIf="f['aadharNumber'].errors">
                                    <span class="text-danger" *ngIf="f['aadharNumber'].hasError('required')">Aadhar
                                        numberis required</span>
                                    <span class="text-danger" *ngIf="f['aadharNumber'].hasError('pattern')">Enter Valid
                                        aadhar card number</span>
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <!-- formControlName="aadharCardDoc" -->
                                <input type="file" name="myfile" #aadharUpload style="display: none;"
                                    (change)="documentUpload($event,'aadhar')" accept=".pdf" />
                                <button type="button" *ngIf="!this.aadharDoc?.length" mat-icon-button
                                    (click)="aadharUpload.click()" matTooltip="Upload only PDF file" accept=".pdf"
                                    required>
                                    <mat-icon>file_upload</mat-icon>
                                </button>
                                <button type="button" class="border border-0 bg-white" *ngIf="this.aadharDoc?.length"
                                    (click)="clearDoc('aadhar')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>PAN Number</mat-label>
                                <input matInput placeholder="PAN Number" formControlName="panNumber" maxlength="10"
                                    (keyup)="this.validation.noSpaces($event)" [value]="driverRegForm.get('panNumber')?.value |uppercase"
                                    [ngClass]="{'is-invalid':f['panNumber'].errors}" (blur)="checkDocumentUpd('pan')"
                                    required>
                                <mat-error *ngIf="f['panNumber'].errors">
                                    <span class="text-danger" *ngIf="f['panNumber'].hasError('required')">Aadhar number
                                        is required</span>
                                    <span class="text-danger" *ngIf="f['panNumber'].hasError('pattern')">Enter valid pan
                                        card number</span>
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <input type="file" name="myfile" #panUpload style="display: none;"
                                    (change)="documentUpload($event,'pan')" accept=".pdf" />
                                <button type="button" *ngIf="!this.panDoc?.length" mat-icon-button
                                    (click)="panUpload.click()" matTooltip="Upload only PDF file" accept=".pdf"
                                    required>
                                    <mat-icon>file_upload</mat-icon>
                                </button>
                                <button type="button" class="border border-0 bg-white" *ngIf="this.panDoc?.length"
                                    (click)="clearDoc('pan')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field [appearance]="config.matFormField" class="w-100">
                            <textarea matInput formControlName="presentAddress" placeholder="Present Address"
                                maxlength="150" required></textarea>
                            <mat-error *ngIf="f['presentAddress'].errors">
                                <span class="text-danger" *ngIf="f['presentAddress'].hasError('required')">Present
                                    Address
                                    is
                                    required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field [appearance]="config.matFormField" class="w-100">
                            <textarea matInput formControlName="permanentAddress" placeholder="Permanent Address"
                                maxlength="150" required></textarea>
                            <mat-error *ngIf="f['permanentAddress'].errors">
                                <span class="text-danger" *ngIf="f['permanentAddress'].hasError('required')">Permanent
                                    Address is
                                    required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-checkbox class="small" (change)="checkArress($event)"
                            [disabled]="driverRegForm.value.presentAddress?.length == 0"
                            [checked]="(driverRegForm.value.presentAddress?.length > 0) && (driverRegForm.value.presentAddress == driverRegForm.value.permanentAddress)">
                            Same as Present Address</mat-checkbox>
                    </div>

                    <ng-container class="form-group">
                        <input matInput class="d-none" formControlName="flag">
                    </ng-container>
                </div>
            </div>
            <div class="form-container w-100">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-light-main" (click)="onNoClick(formDirective)">Cancel</button>

                    <button type="submit" class="btn btn-main">{{buttonFlag?'Save':'Update'}}</button>
                </div>
            </div>
        </div>
    </form>
</div>