<p class="page-heading">Transporter</p>
<div class="row">
    <div class="col-sm-12">
        <div class="display-bar">
            Profile
        </div>

        <div class="card plain-card">
            <img src="assets/images/myprofile.png" class="card-img-top" alt="myprofile">
            <div class="card-body">
                <div class="row align-items-top" id="profile-details">
                    <div class="col-sm-2 text-end">
                        <img src="assets/images/Driver-profile.svg" class="profile-pic">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="name">{{userDetails?.name}}</h5>
                        <small class="desi">Transporter</small>
                        <div class="d-flex justify-content-between mt-4">
                            <p class="mb-0">
                                <img src="../../../assets/images/location-vehicle.svg" class="me-2">
                               {{userDetails?.address}}
                            </p>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                id="openmodal" data-bs-target="#profileEditModal" (click)="editProfile(userDetails)">Edit</button>
                        </div>
                        <p class="text-main fw-bold mb-1">Basic Details</p>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <small class="text-label">Contact</small>
                                        <p class="mb-0 text-data">+91{{userDetails?.mobileNo}}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">Email</small>
                                        <p class="mb-0 text-data">{{userDetails?.emailId}}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">Website</small>
                                        <p class="mb-0 text-data">{{userDetails?.webiste}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-main fw-bold mb-1">KYC Details</p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <small class="text-label">Adhar No</small>
                                        <p class="mb-0 text-data">
                                            {{userDetails?.adharNo}}
                                            <i class="fa-solid fa-file-pdf text-danger ms-2"></i>
                                        </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">Pan No</small>
                                        <p class="mb-0 text-data">
                                            {{userDetails?.panNo}}
                                            <i class="fa-solid fa-file-pdf text-danger ms-2"></i>
                                        </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">License No</small>
                                        <p class="mb-0 text-data">
                                            {{userDetails?.licenceNo}}
                                            <i class="fa-solid fa-file-pdf text-danger ms-2"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-end">
                        <h5 class="name">{{totalVehicle}}</h5>
                        <small class="desi">Total Vehicles</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel" aria-hidden="true">
    <form [formGroup]="myProfileForm" (ngSubmit)="profileSave()">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light-gradient text-dark">
                    <p class="modal-title mb-0" id="profileEditModalLabel">Profile</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                <div class="position-relative form-group">
                                    <!-- || {{userDetails.profilePhoto}} -->
                                    <img src="{{profilePhotoupd}}" class="vehicle-image">
                                    <div class="vehicle-buttons d-flex flex-column upload-btn-wrapper">
                                        <button type="button" class="btn bg-light text-primary" (click)="profileUpload.click()">
                                             <i class="fa-solid fa-plus"></i>
                                        </button>
                                        <input type="file" #profileUpload name="myfile" class="form-control"
                                            formControlName="profilePhoto"  accept=".jpg,.jpeg,.png"
                                            (change)="profileUploads($event)" matTooltip="Upload only png,jpg,jpeg file"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Enter Name"
                                            formControlName="name"
                                            (keypress)="this.vs.onlyAlphabets($event)">
                                        <mat-error *ngIf="f['name'].errors">
                                            <span class="text-danger"
                                                *ngIf="f['name'].hasError('required')">
                                                first Name is required</span>
                                            <span class="text-danger"
                                                *ngIf="f['name'].hasError('pattern')">
                                                first Name is Invalid</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <mat-label>Designation</mat-label>
                                        <input matInput placeholder="Enter Designation"
                                            (keyup)="this.vs.noSpaces($event)" formControlName="designation">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <mat-label>Address</mat-label>
                                        <input matInput placeholder="Enter Address" (keyup)="this.vs.noSpaces($event)"
                                            formControlName="address">
                                            <mat-error *ngIf="f['address'].errors">
                                               <!--  <span class="text-danger"
                                                    *ngIf="f['address'].hasError('required')">
                                                    Address is required</span> -->
                                                <!-- <span class="text-danger"
                                                    *ngIf="f['address'].hasError('pattern')">
                                                Address is Invalid</span> -->
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <mat-label>Contact</mat-label>
                                        <input matInput placeholder="Enter Contact" (keyup)="this.vs.noSpaces($event)"
                                            formControlName="mobileNo" (keypress)="this.vs.onlyDigits($event)"
                                            (keyup)="this.vs.noSpaces($event)"
                                            maxlength="10" format="number">
                                        <mat-error *ngIf="f['mobileNo'].errors">
                                            <span class="text-danger"
                                                *ngIf="f['mobileNo'].hasError('required')">
                                                Contact is required</span>
                                            <span class="text-danger"
                                                *ngIf="f['mobileNo'].hasError('pattern')">Enter
                                                valid Contact No</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Enter Email" (keyup)="this.vs.noSpaces($event)"
                                            formControlName="emailId">
                                            <mat-error *ngIf="f['emailId'].errors">
                                                <span class="text-danger"
                                                    *ngIf="f['emailId'].hasError('pattern')">Enter
                                                    valid Email Id</span>
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Website</mat-label>
                                        <input matInput placeholder="Enter Website" (keyup)="this.vs.noSpaces($event)"
                                            formControlName="webiste">
                                            <mat-error *ngIf="f['webiste'].errors">
                                                <span class="text-danger"
                                                    *ngIf="f['webiste'].hasError('pattern')">Enter
                                                    valid Email Id</span>
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                         <!--   <div class="col-sm-12">
                                <table
                                    class="table dashboard-table mb-0 table-padding-0">
                                    <thead>
                                        <tr>
                                            <th>Document Name</th>
                                            <th>Document Number</th>
                                            <th>Document</th>
                                            <th>Upload</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Licence Number</td>
                                            <td>
                                                <div class="form-group">
                                                    <mat-form-field
                                                        appearance="standard"
                                                        class="w-100">

                                                        <input matInput
                                                            formControlName="licenceNo"
                                                            [ngClass]="{'is-invalid':f['licenceNo'].errors}"
                                                            placeholder="Licence Number"
                                                            maxlength="20"
                                                            minlength="15">
                                                        <mat-error
                                                            *ngIf="f['licenceNo'].errors">
                                                            <span class="text-danger"
                                                                *ngIf="f['licenceNo'].hasError('pattern')">Enter
                                                                valid licence
                                                                number</span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td>
                                                <img src="assets/images/Driver-profile.svg"
                                                    class="vehicle-image">
                                            </td>
                                            <td>
                                                <div
                                                    class="upload-btn-wrapper form-group">
                                                    <button type="button"
                                                        *ngIf="!this.licenceDoc?.length"
                                                        class="btn btn-light-main btn-icon">
                                                        <i
                                                            class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" #licenceUpload
                                                        name="myfile"
                                                        formControlName="licenceNoDoc"
                                                        (change)="imageUpload($event,'licence')"
                                                        required
                                                        matTooltip="Upload only PDF file"
                                                        accept=".pdf" />
                                                </div>
                                                <button type="button"
                                                    *ngIf="this.licenceDoc?.length"
                                                    class="btn upload-btn-wrapper btn-light-main btn-icon-view"
                                                    (click)="viewDocument('licence')">
                                                    <mat-icon>visibility</mat-icon>
                                                </button>

                                            </td>
                                            <td>
                                                <button type="button"
                                                    class="btn bg-danger bg-opacity-10 text-danger"
                                                    [disabled]="!this.licenceDoc?.length"
                                                    (click)="clearDoc('licence')">
                                                    <i
                                                        class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Aadhaar Number</td>
                                            <td>
                                                <div class="form-group">
                                                    <mat-form-field
                                                        appearance="standard"
                                                        class="w-100">
                                                        <input matInput
                                                            [ngClass]="{'is-invalid':f['adharNo'].errors}"
                                                            formControlName="adharNo"
                                                            placeholder="Aadhaar Number"
                                                            maxlength="12"
                                                            (keypress)="this.vs.onlyDigits($event)"
                                                            minlength="12">
                                                        <mat-error *ngIf="f['adharNo'].errors">
                                                            <span class="text-danger"
                                                                *ngIf="f['adharNo'].hasError('pattern')">Enter
                                                                Valid Aadhar card
                                                                number</span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td>
                                                <img src="assets/images/Driver-profile.svg"
                                                    class="vehicle-image">
                                            </td>
                                            <td>
                                                <div
                                                    class="upload-btn-wrapper form-group">
                                                    <button type="button"
                                                        class="btn btn-light-main btn-icon"
                                                        *ngIf="!this.aadharDoc?.length">
                                                        <i
                                                            class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" name="myfile"
                                                        #aadharUpload
                                                        (keyup)="this.vs.noSpaces($event)"
                                                        (keypress)="this.vs.onlyDigits($event)"
                                                        formControlName="adharNoDoc"
                                                        (change)="imageUpload($event,'aadhar')"
                                                        required
                                                        matTooltip="Upload only PDF file"
                                                        accept=".pdf" />
                                                </div>
                                                <button type="button"
                                                    *ngIf="this.aadharDoc?.length"
                                                    class="btn btn-light-main btn-icon-view"
                                                    (click)="viewDocument('aadhar')">
                                                    <mat-icon>visibility</mat-icon>
                                                </button>
                                            </td> 
                                            <td>
                                                <button type="button"
                                                    class="btn bg-danger bg-opacity-10 text-danger"
                                                    [disabled]="!this.aadharDoc?.length"
                                                    (click)="clearDoc('aadhar')">
                                                    <i
                                                        class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>PAN Number</td>
                                            <td>
                                                <div class="form-group">
                                                    <mat-form-field
                                                        appearance="standard"
                                                        class="w-100">
                                                        <input matInput
                                                            formControlName="panNo"
                                                            placeholder="PAN Number"
                                                            maxlength="10"
                                                            (keyup)="this.vs.noSpaces($event)"
                                                            [ngClass]="{'is-invalid':f['panNo'].errors}">
                                                        <mat-error *ngIf="f['panNo'].errors">
                                                            <span class="text-danger"
                                                                *ngIf="f['panNo'].hasError('pattern')">Enter
                                                                valid pan card
                                                                number</span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td>
                                                <img src="assets/images/Driver-profile.svg"
                                                    class="vehicle-image">
                                            </td>
                                            <td>
                                                <div
                                                    class="upload-btn-wrapper form-group">
                                                    <button type="button"
                                                        class="btn btn-light-main btn-icon"
                                                        *ngIf="!this.panDoc?.length">
                                                        <i
                                                            class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" name="myfile"
                                                        #panUpload
                                                        formControlName="panDoc"
                                                        (change)="imageUpload($event,'pan')"
                                                        required
                                                        matTooltip="Upload only PDF file"
                                                        accept=".pdf"/>
                                                </div>
                                                <button type="button"
                                                    *ngIf="this.panDoc?.length"
                                                    class="btn btn-light-main btn-icon-view"
                                                    (click)="viewDocument('pan')">
                                                    <mat-icon>visibility</mat-icon>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button"
                                                    class="btn bg-danger bg-opacity-10 text-danger"
                                                    [disabled]="!this.panDoc?.length"
                                                    (click)="clearDoc('pan')">
                                                    <i
                                                        class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <div class="form-container w-100">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-light-main" #closeModel data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-main">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>