<p class="page-heading">Transporter</p>
<div class="row">
    <div class="col-sm-12">
        <div class="display-bar">
            Profile
        </div>

        <div class="card plain-card">
            <img src="assets/images/myprofile.png" class="card-img-top" alt="myprofile">
            <div class="card-body">
                <div class="row align-items-top" id="profile-details">
                    <div class="col-sm-2 text-end">
                        <img src="assets/images/Driver-profile.svg" class="profile-pic">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="name">{{userDetails?.name}}</h5>
                        <small class="desi">Transporter</small>
                        <div class="d-flex justify-content-between mt-4">
                            <p class="mb-0">
                                <img src="../../../assets/images/location-vehicle.svg" class="me-2">
                               {{userDetails?.address}}
                            </p>
                            <button type="button" class="btn btn-outline-primary btn-sm shadow-none" data-bs-toggle="modal"
                                id="openmodal" (click)="profileModule(userDetails)">Edit</button>
                        </div>
                        <p class="text-main fw-bold mb-1">Basic Details</p>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <small class="text-label">Contact</small>
                                        <p class="mb-0 text-data">+91{{userDetails?.mobileNo}}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">Email</small>
                                        <p class="mb-0 text-data">{{userDetails?.emailId}}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">Website</small>
                                        <p class="mb-0 text-data">{{userDetails?.webiste}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-main fw-bold mb-1">KYC Details</p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <small class="text-label">Adhar No</small>
                                        <p class="mb-0 text-data">
                                            {{userDetails?.adharNo}}
                                            <i class="fa-solid fa-file-pdf text-danger ms-2"></i>
                                        </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">Pan No</small>
                                        <p class="mb-0 text-data">
                                            {{userDetails?.panNo}}
                                            <i class="fa-solid fa-file-pdf text-danger ms-2"></i>
                                        </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <small class="text-label">License No</small>
                                        <p class="mb-0 text-data">
                                            {{userDetails?.licenceNo}}
                                            <i class="fa-solid fa-file-pdf text-danger ms-2"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-end">
                        <h5 class="name">{{totalVehicle}}</h5>
                        <small class="desi">Total Vehicles</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
