.view{
    font-size: 12px;
    font-weight: bold;
}
.mxw-100{
    max-width: 100px;
}
.mxw-150{
    max-width: 150px;
}
mat-header-cell{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
hr .styleHr{
 border: 1px solid red;
}