<div class="position-relative mb-3">
    <h5 mat-dialog-title class="mb-0"> Add Driver</h5>
<button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close><i class="fas fa-times"></i></button>
</div>


<div class="row">
    <div class="col-sm-3">
        <div class="position-relative">
            <img src="assets/images/user.jpg" class="vehicle-image">
            <div class="vehicle-buttons d-flex flex-column upload-btn-wrapper">
                <button type="button" class="btn bg-light text-primary">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <input type="file" #profileUpload name="myfile" accept=".jpg,.jpeg,.png" formControlName="profilePhoto"
                    matTooltip="Upload only png,jpg,jpeg file" />
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row align-items-end">
            <div class="col-sm-6">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" value="" formControlName="firstName">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="w-100" appearance="legacy">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" value="" formControlName="lastName">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Mobile Number" value="" formControlName="mobileNo">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Licence Number</mat-label>
                        <input matInput placeholder="Licence Number">
                    </mat-form-field>
                    <button mat-icon-button>
                        <mat-icon>file_upload</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Aadhaar Number</mat-label>
                        <input matInput placeholder="Aadhaar Number">
                    </mat-form-field>
                    <button mat-icon-button>
                        <mat-icon>file_upload</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>PAN Number</mat-label>
                        <input matInput placeholder="PAN Number">
                    </mat-form-field>
                    <button mat-icon-button>
                        <mat-icon>file_upload</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="legacy" class="w-100">
                    <textarea matInput formControlName="presentAddress" placeholder="Present Address"
                        maxlength="150"></textarea>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field appearance="legacy" class="w-100">
                    <textarea matInput formControlName="permanentAddress" placeholder="Permanent Address"
                        maxlength="150"></textarea>
                </mat-form-field>
                <mat-checkbox class="small">Same as Present Address</mat-checkbox>
            </div>
            <ng-container class="form-group">
                <input matInput class="d-none" formControlName="flag">
            </ng-container>
        </div>
    </div>

</div>

<div class="form-container w-100">
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light-main" #closeModel data-bs-dismiss="modal">Cancel</button>

        <button type="submit" class="btn btn-main">Save</button>
    </div>

</div>