<<<<<<< HEAD
.isdisabled{
    pointer-events: none;
	filter: opacity(0.5);
}
=======
.custom_sneak_bar{
    margin: 0 !important;
    position: absolute;
    right: 100px;
    // top: 60px;
}
>>>>>>> 28b07d992a8fc604bed67d506dcdf1bc6c19f158
