<p class="fw-bold small mb-2">Manage Vehicle</p>

<div class="row">
    <div class="col-sm-12">
        <div class="bg-main-gradient py-2 px-3 rounded mb-3">
            <div class="d-flex small">
                <div class="pe-3">Total Vehicles</div>
                <div class="fw-bold">220</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card form-card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-sm-4">
                        <div class="row align-items-center">
                            <div class="col-sm-auto">
                                Vehicle List
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                                    <input type="text" class="form-control" placeholder="Driver Name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table dashboard-table mb-0">
                    <thead>
                        <tr>
                            <th>SR.NO.</th>
                            <th></th>
                            <th>VEHICLE NO.</th>
                            <th>DRIVER NAME</th>
                            <th>MOBILE NO</th>
                            <th>UPDATE DRIVER</th>
                            <th>BLOCK/UNBLCOK</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="../../../assets/images/Idle-vehicle.svg" alt=""></td>
                            <td>
                                <span>MH12 AB 1234</span>
                            </td>
                            <td>
                                <span>Tushar Jadhav</span>
                            </td>
                            <td>8669264767</td>
                            <td>
                                <button class="btn btn-outline-primary" data-bs-toggle="modal" id="openmodal"
                                    data-bs-target="#AssignDriverModal">
                                    Assign Driver
                                </button>
                            </td>
                            <td>
                                <mat-slide-toggle></mat-slide-toggle>
                            </td>
                            <td>
                                <button class="btn btn-light-main btn-icon" data-bs-toggle="modal"
                                    data-bs-target="#EditVehicleDetailsModal">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="../../../assets/images/Idle-vehicle.svg" alt=""></td>
                            <td>
                                <span>MH12 AB 1234</span>
                            </td>
                            <td>
                                <span>Tushar Jadhav</span>
                            </td>
                            <td>8669264767</td>
                            <td>
                                <button class="btn btn-outline-warning" data-bs-toggle="modal" id="openmodal"
                                    data-bs-target="#AssignDriverModal">
                                    Unassign Driver
                                </button>
                            </td>
                            <td>
                                <mat-slide-toggle></mat-slide-toggle>
                            </td>
                            <td>
                                <button class="btn btn-light-main btn-icon" data-bs-toggle="modal"
                                    data-bs-target="#EditVehicleDetailsModal">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal for assign driver -->
<div class="modal fade" id="AssignDriverModal" tabindex="-1" aria-labelledby="AssignDriverModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="AssignDriverModalLabel">
                    Assign Driver
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <h6>MH 12 AB 1234</h6>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Driver Name</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-container w-100">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-light-main" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-main">Assign</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Edit Vehicle-->
<div class="modal fade" id="EditVehicleDetailsModal" tabindex="-1" aria-labelledby="EditVehicleDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="EditVehicleDetailsModalLabel">Edit Vehicle Details</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="position-relative">
                            <img src="assets/images/user.jpg" class="vehicle-image">
                            <div class="vehicle-buttons d-flex flex-column upload-btn-wrapper">
                                <button class="btn bg-opacity-10 bg-primary text-primary">
                                    <i class="fa-solid fa-upload"></i>
                                </button>
                                <button class="btn bg-opacity-10 bg-danger text-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <input type="file" name="myfile" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field appearance="standard" class="w-100">
                                    <mat-label>Vehicle No</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="standard" class="w-100">
                                    <mat-label>Date Added</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="standard" class="w-100">
                                    <mat-label>Plate No</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="standard" class="w-100">
                                    <mat-label>Chassis No.</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="standard" class="w-100">
                                    <mat-label>Brand</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="standard" class="w-100">
                                    <mat-label>Model</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <table class="table dashboard-table mb-0 table-padding-0">
                                    <thead>
                                        <tr>
                                            <th>Document Name</th>
                                            <th>Document Number</th>
                                            <th>Document</th>
                                            <th>Upload</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Insurance Expiry Date</td>
                                            <td>
                                                <mat-form-field appearance="standard" class="w-100">
                                                    <mat-label>Document Number</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <img src="assets/images/user.jpg" class="vehicle-image">
                                            </td>
                                            <td>
                                                <div class="upload-btn-wrapper">
                                                    <button type="submit" class="btn btn-light-main btn-icon">
                                                        <i class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" name="myfile" />
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn bg-danger bg-opacity-10 text-danger">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Registration Certificate</td>
                                            <td>
                                                <mat-form-field appearance="standard" class="w-100">
                                                    <mat-label>Document Number</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <img src="assets/images/user.jpg" class="vehicle-image">
                                            </td>
                                            <td>
                                                <div class="upload-btn-wrapper">
                                                    <button type="submit" class="btn btn-light-main btn-icon">
                                                        <i class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" name="myfile" />
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn bg-danger bg-opacity-10 text-danger">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pollution Expiry Date</td>
                                            <td>
                                                <mat-form-field appearance="standard" class="w-100">
                                                    <mat-label>Document Number</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <img src="assets/images/user.jpg" class="vehicle-image">
                                            </td>
                                            <td>
                                                <div class="upload-btn-wrapper">
                                                    <button type="submit" class="btn btn-light-main btn-icon">
                                                        <i class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" name="myfile" />
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn bg-danger bg-opacity-10 text-danger">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fitness Expiry</td>
                                            <td>
                                                <mat-form-field appearance="standard" class="w-100">
                                                    <mat-label>Document Number</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <img src="assets/images/user.jpg" class="vehicle-image">
                                            </td>
                                            <td>
                                                <div class="upload-btn-wrapper">
                                                    <button type="submit" class="btn btn-light-main btn-icon">
                                                        <i class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" name="myfile" />
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn bg-danger bg-opacity-10 text-danger">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>National Permit</td>
                                            <td>
                                                <mat-form-field appearance="standard" class="w-100">
                                                    <mat-label>Document Number</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <img src="assets/images/user.jpg" class="vehicle-image">
                                            </td>
                                            <td>
                                                <div class="upload-btn-wrapper">
                                                    <button type="submit" class="btn btn-light-main btn-icon">
                                                        <i class="fa-solid fa-upload"></i>
                                                    </button>
                                                    <input type="file" name="myfile" />
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn bg-danger bg-opacity-10 text-danger">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-container w-100">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-light-main" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-main">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>