<p class="page-heading">Manage Vehicle</p>

<div class="row">
    <div class="col-sm-12">
        <div class="display-bar">
            <div class="d-flex">
                <div class="pe-3">Total Vehicles</div>
                <div class="fw-bold">{{totalVehicle}}</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-body border-0">
            <div class="card form-card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-sm-auto">
                            Vehicle List
                        </div>

                        <div class="col-sm-3">
                            <form [formGroup]="serchVehicle">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Vehicle Number"
                                        formControlName="searchVhl" (keypress)="this.vs.alphaNumeric($event)">
                                    <div *ngIf="searchHideShow && this.serchVehicle.value.searchVhl"
                                        class="input-group-text"><i class="fa-solid fa-magnifying-glass"
                                            (click)="getVehicleData('search')"></i></div>
                                    <div *ngIf="clearHideShow" class="input-group-text"><i class="fa-solid fa-xmark"
                                            (click)="clearSearchData()"></i></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table dashboard-table mb-0">
                        <thead>
                            <tr>
                                <th class="srno">SR.NO.</th>
                                <th class="srno"></th>
                                <th>VEHICLE NO.</th>
                                <th>DRIVER NAME</th>
                                <th>MOBILE NO</th>
                                <th>UPDATE DRIVER</th>
                                <th>BLOCK/UNBLCOK</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vehicle of vehicleData | paginate: {itemsPerPage: pageSize, 
                            currentPage: paginationNo, totalItems:totalItem}; let i = index"
                                [ngClass]="{'highLightRow':highLightRow==vehicle.vehicleId}">
                                <td>{{vehicle.srNo}}</td>
                                <td><img src="../../../assets/images/Idle-vehicle.svg" alt=""></td>
                                <td>
                                    <span>{{vehicle.vehicleNo || '-'}}</span>
                                </td>
                                <td>
                                    <span>{{vehicle.driverName || '-'}}</span>
                                </td>
                                <td>{{vehicle.mobileNo ||'-'}}</td>
                                <td>
                                    <button class="btn btn-outline-primary" *ngIf="!vehicle.driverName?.length"
                                        data-bs-toggle="modal" id="openmodal" data-bs-target="#AssignDriverModal"
                                        (click)="getAssignDriver(vehicle)">Assign
                                        driver</button>
                                    <button class="btn btn-outline-warning" *ngIf="vehicle.driverName?.length"
                                        (click)="assignDriverToVehicle(vehicle)">
                                        Unassign driver </button>
                                </td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" (change)="blockUnblockVhl(vehicle,$event)"
                                            [checked]="vehicle.isBlockFlag">
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-light-main btn-icon" data-bs-toggle="modal"
                                        data-bs-target="#EditVehicleDetailsModal" (click)="editVehicleDetail(vehicle)">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!vehicleData">
                        <tr colspan="5">
                            <td>
                                <div class="alert alert-danger text-center errorMSG">Data is not available</div>
                            </td>
                        </tr>
                    </div>
                    <pagination-controls *ngIf="vehicleData?.length != 0" previousLabel="" nextLabel=""
                        (pageChange)="onPagintion($event)" class="text-end m-2">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for assign driver -->
<div class="modal fade" id="AssignDriverModal" tabindex="-1" aria-labelledby="AssignDriverModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="AssignDriverModalLabel">
                    Assign Driver
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closemodel(formDirective)"></button>
            </div>
            <form [formGroup]="assignDriverForm" #formDirective="ngForm"
                (ngSubmit)="assignDriverToVehicle(formDirective)">
                <div class="modal-body">
                    <div class="">
                        <h6>{{asgnVehicle}}</h6>
                        <mat-form-field appearance="fill" class="w-100 form-group">
                            <mat-label>Select Driver Name</mat-label>
                            <mat-select formControlName="driverName">
                                <mat-option *ngFor="let driver of driverData" [value]="driver.driverId">
                                    {{driver.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-container w-100">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-light-main" #closeModel data-bs-dismiss="modal"
                                (click)="closeModels(formDirective)">Cancel</button>
                            <button class="btn btn-main">Assign</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for Edit Vehicle-->
<div class="modal fade" id="EditVehicleDetailsModal" tabindex="-1" aria-labelledby="EditVehicleDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="EditVehicleDetailsModalLabel">Edit Vehicle Details</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closemodel(formDirective)"></button>
            </div>
            <form [formGroup]="editVehicleForm" #formDirective="ngForm" (ngSubmit)="saveVehicleDetails(formDirective)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                <img src={{profilePhoto}} class="vehicle-image">
                                <div class="vehicle-buttons d-flex flex-column upload-btn-wrapper">
                                    <button class="btn bg-light text-primary" (click)="uploadprofile.click()">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <input type="file" name="myfile" class="form-control" formControlName="profile"
                                        #uploadprofile (change)="profilePhotoUpd($event)" accept=".png,.jpg,.jpeg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Vehicle No</mat-label>
                                        <input matInput class="form-control" formControlName="vhlNumber" required
                                            [ngClass]="{'is-invalid':f['vhlNumber'].errors}"
                                            (keypress)="this.vs.alphaNumeric($event)" maxlength="15">
                                        <mat-error class="text-danger">
                                            <span *ngIf="f['vhlNumber'].errors">Vehicle Number required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Date Added</mat-label>
                                        <input matInput [matDatepicker]="picker" class="form-control"
                                            formControlName="date" required [ngClass]="{'is-invalid':f['date'].errors}">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error class="text-danger">
                                            <span *ngIf="f['date'].errors">Date required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Plate No</mat-label>
                                        <input matInput class="form-control" formControlName="plateNo" required
                                            [ngClass]="{'is-invalid':f['plateNo'].errors}"
                                            (keypress)="this.vs.alphaNumeric($event)" maxlength="15">
                                        <mat-error class="text-danger">
                                            <span *ngIf="f['plateNo'].errors">Plate Number required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Chassis No.</mat-label>
                                        <input matInput class="form-control" formControlName="chassicNo" required
                                            [ngClass]="{'is-invalid':f['chassicNo'].errors}"
                                            (keypress)="this.vs.onlyDigits($event)" maxlength="15">
                                        <mat-error class="text-danger">
                                            <span *ngIf="f['chassicNo'].errors">Chassis Number required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Brand</mat-label>
                                        <input matInput class="form-control" formControlName="brand" required
                                            [ngClass]="{'is-invalid':f['brand'].errors}"
                                            (keypress)="this.vs.onlyAlphabets($event)" maxlength="15">
                                        <mat-error class="text-danger">
                                            <span *ngIf="f['brand'].errors">Brand required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Model</mat-label>
                                        <input matInput class="form-control" formControlName="model" required
                                            [ngClass]="{'is-invalid':f['model'].errors}"
                                            (keypress)="this.vs.alphaNumeric($event)" maxlength="10">
                                        <mat-error class="text-danger">
                                            <span *ngIf="f['model'].errors">Model required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12">
                                    <table class="table dashboard-table mb-0 table-padding-0">
                                        <thead>
                                            <tr>
                                                <th>Document Name</th>
                                                <th>Document Number</th>
                                                <th>Document</th>
                                                <th>Upload</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Insurance Expiry Date</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <input matInput class="form-control"
                                                                formControlName="insuranceExDate"
                                                                placeholder="Document Number"
                                                                [ngClass]="{'is-invalid':f['insuranceExDate'].errors}">
                                                            <mat-error class="text-danger">
                                                                <span *ngIf="f['insuranceExDate'].errors">Insurance
                                                                    Expiry Date required</span>
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src={{insuranceUpload}} class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="this.editVehicleForm.value.insuranceDoc?.length>0">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc name="myfile" class="form-control"
                                                            formControlName="insuranceDoc"
                                                            (change)="imageUpload($event,'insurance')" accept=".pdf" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc')"
                                                        [disabled]="!this.editVehicleForm.value.insuranceDoc?.length">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Registration Certificate</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <input matInput class="form-control"
                                                                formControlName="registerNo"
                                                                placeholder="Document Number">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="this.editVehicleForm.value.registerDoc?.length>0">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc1 name="myfile"
                                                            class="form-control" formControlName="registerDoc"
                                                            (change)="imageUpload($event,'register')" accept=".pdf" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc1')"
                                                        [disabled]="!this.editVehicleForm.value.registerDoc?.length">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Pollution Expiry Date</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <input matInput class="form-control"
                                                                formControlName="pollutionExDate"
                                                                placeholder="Document Number"
                                                                [ngClass]="{'is-invalid':f['pollutionExDate'].errors}">
                                                            <mat-error class="text-danger">
                                                                <span *ngIf="f['pollutionExDate'].errors">Pollution
                                                                    Expiry Date required</span>
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="this.editVehicleForm.value.pollutionDoc?.length>0">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc2 name="myfile"
                                                            class="form-control" formControlName="pollutionDoc"
                                                            (change)="imageUpload($event,'pollution')" accept=".pdf" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc2')"
                                                        [disabled]="!this.editVehicleForm.value.pollutionDoc?.length">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Fitness Expiry</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <input matInput class="form-control"
                                                                formControlName="fitnessExDate"
                                                                placeholder="Document Number">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="this.editVehicleForm.value.fitnessDoc?.length>0">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc3 name="myfile"
                                                            class="form-control" formControlName="fitnessDoc"
                                                            (change)="imageUpload($event,'fitness')" accept=".pdf" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc3')"
                                                        [disabled]="!this.editVehicleForm.value.fitnessDoc?.length">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>National Permit</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <input matInput class="form-control"
                                                                formControlName="permitNo" placeholder="Document Number"
                                                                [ngClass]="{'is-invalid':f['permitNo'].errors}"
                                                                (keypress)="this.vs.alphaNumeric($event)">
                                                            <mat-error class="text-danger">
                                                                <span *ngIf="f['permitNo'].errors">National Permit
                                                                    required</span>
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="this.editVehicleForm.value.permitDoc?.length>0">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc4 name="myfile"
                                                            class="form-control" formControlName="permitDoc"
                                                            (change)="imageUpload($event,'national')" accept=".pdf" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc4')"
                                                        [disabled]="this.editVehicleForm.value.permitDoc?.length==0">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-container w-100">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-light-main" data-bs-dismiss="modal"
                                (click)="closemodel(formDirective)">Cancel</button>
                            <button type="submit" class="btn btn-main">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>