<p class="page-heading">Manage Vehicle</p>

<div class="row">
    <div class="col-sm-12">
        <div class="display-bar">
            <div class="d-flex">
                <div class="pe-3">Total Vehicles</div>
                <div class="fw-bold">220</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card form-card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-sm-4">
                        <div class="row align-items-center">
                            <div class="col-sm-auto">
                                Vehicle List
                            </div>
                            <form [formGroup]="serchVehicle">
                                <div class="col-sm-8 form-group">
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"
                                                (click)="getVehicleData()"></i></div>
                                        <input type="text" class="form-control" placeholder="Vehicle Number"
                                            formControlName="searchVhl">
                                        <div class="input-group-text"><i class="fa-solid fa-xmark"
                                                (click)="clearSearchData()"></i></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table dashboard-table mb-0">
                    <thead>
                        <tr>
                            <th class="srno">SR.NO.</th>
                            <th class="srno"></th>
                            <th>VEHICLE NO.</th>
                            <th>DRIVER NAME</th>
                            <th>MOBILE NO</th>
                            <th>UPDATE DRIVER</th>
                            <th>BLOCK/UNBLCOK</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehicle of vehicleData | paginate: {itemsPerPage: pageSize, 
                            currentPage: paginationNo, totalItems:totalItem}; let i = index">
                            <td>{{vehicle.srNo}}</td>
                            <td><img src="../../../assets/images/Idle-vehicle.svg" alt=""></td>
                            <td>
                                <span>{{vehicle.vehicleNo || '-'}}</span>
                            </td>
                            <td>
                                <span>{{vehicle.driverName || '-'}}</span>
                            </td>
                            <td>{{vehicle.mobileNo ||'-'}}</td>
                            <td>
                                <button class="btn btn-outline-primary" data-bs-toggle="modal" id="openmodal" 
                                [attr.data-target]="vehicle.driverName.length == 0 ?'#AssignDriverModal' :''" 
                                     (click)="assignDriver(vehicle)" [ngClass]="{'text-primary':vehicle.driverName.length ==0,
                                    'btn-outline-warning':vehicle.driverName.length != 0,
                                        'text-warning':vehicle.driverName.length != 0}">
                                    {{vehicle.driverName.length > 0 ?'unassign Vehicle':'Assign Vehicle'}}
                                </button>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id="flexSwitchCheckDefault" (change)="blockUnblockVhl(vehicle,$event)"
                                        [checked]="vehicle.isBlockFlag">
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-light-main btn-icon" data-bs-toggle="modal"
                                    data-bs-target="#EditVehicleDetailsModal" (click)="editVehicleDetail(vehicle)">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!vehicleData">
                    <tr colspan="5">
                        <td>
                            <div class="alert alert-danger text-center errorMSG">Data is not available</div>
                        </td>
                    </tr>
                </div>
                <pagination-controls *ngIf="vehicleData?.length != 0" previousLabel="" nextLabel=""
                    (pageChange)="onPagintion($event)" class="text-end m-2">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- Modal for assign driver -->
<div class="modal fade" id="AssignDriverModal" tabindex="-1" aria-labelledby="AssignDriverModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="AssignDriverModalLabel">
                    Assign Driver
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="assignDriverForm">
                <div class="modal-body">
                    <div class="">
                        <h6>{{asgnVehicle}}</h6>
                        <mat-form-field appearance="fill" class="w-100 form-group">
                            <mat-label>Select Driver Name</mat-label>
                            <mat-select formControlName="driverName">
                                <mat-option *ngFor="let driver of driverData" [value]="driver.driverId">
                                    {{driver.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-container w-100">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-light-main" #closeModel data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-main" (click)="assignDriverToVehicle('false')">Assign</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for Edit Vehicle-->
<div class="modal fade" id="EditVehicleDetailsModal" tabindex="-1" aria-labelledby="EditVehicleDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="EditVehicleDetailsModalLabel">Edit Vehicle Details</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="editVehicleForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                <img src={{profilePhoto}} class="vehicle-image">
                                <div class="vehicle-buttons d-flex flex-column upload-btn-wrapper">
                                    <button class="btn bg-light text-primary" (click)="uploadprofile.click()">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <input type="file" name="myfile" class="form-control" formControlName="profile"
                                        #uploadprofile (change)="profilePhotoUpd($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Vehicle No</mat-label>
                                        <input matInput class="form-control" formControlName="vhlNumber">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Date Added</mat-label>
                                        <input matInput [matDatepicker]="picker" class="form-control"
                                            formControlName="date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Plate No</mat-label>
                                        <input matInput class="form-control" formControlName="plateNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Chassis No.</mat-label>
                                        <input matInput class="form-control" formControlName="chassicNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Brand</mat-label>
                                        <input matInput class="form-control" formControlName="brand">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <mat-form-field appearance="standard" class="w-100">
                                        <mat-label>Model</mat-label>
                                        <input matInput class="form-control" formControlName="model">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12">
                                    <table class="table dashboard-table mb-0 table-padding-0">
                                        <thead>
                                            <tr>
                                                <th>Document Name</th>
                                                <th>Document Number</th>
                                                <th>Document</th>
                                                <th>Upload</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Insurance Expiry Date</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <!-- <mat-label>Document Number</mat-label> -->
                                                            <input matInput class="form-control"
                                                                formControlName="insuranceExDate"
                                                                placeholder="Document Number">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src={{insuranceUpload}} class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="insurance">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc name="myfile" class="form-control"
                                                            formControlName="insuranceDoc"
                                                            (change)="imageUpload($event,'insurance')" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc')" [disabled]="deleteUplDoc">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Registration Certificate</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <!-- <mat-label>Document Number</mat-label> -->
                                                            <input matInput class="form-control"
                                                                formControlName="registerNo"
                                                                placeholder="Document Number">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="register">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc1 name="myfile"
                                                            class="form-control" formControlName="registerDoc"
                                                            (change)="imageUpload($event,'register')" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc1')"
                                                        [disabled]="deleteUplDoc1">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Pollution Expiry Date</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <!-- <mat-label>Document Number</mat-label> -->
                                                            <input matInput class="form-control"
                                                                formControlName="pollutionExDate"
                                                                placeholder="Document Number">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="pollution">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc2 name="myfile"
                                                            class="form-control" formControlName="pollutionDoc"
                                                            (change)="imageUpload($event,'pollution')" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc2')"
                                                        [disabled]="deleteUplDoc2">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Fitness Expiry</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <!-- <mat-label>Document Number</mat-label> -->
                                                            <input matInput class="form-control"
                                                                formControlName="fitnessExDate"
                                                                placeholder="Document Number">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper form-group">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="fitness">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc3 name="myfile"
                                                            class="form-control" formControlName="fitnessDoc"
                                                            (change)="imageUpload($event,'fitness')" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc3')"
                                                        [disabled]="deleteUplDoc3">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>National Permit</td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="standard" class="w-100">
                                                            <!-- <mat-label>Document Number</mat-label>  -->
                                                            <input matInput class="form-control"
                                                                formControlName="permitNo"
                                                                placeholder="Document Number">
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{insuranceUpload}}" class="vehicle-image">
                                                </td>
                                                <td>
                                                    <div class="upload-btn-wrapper">
                                                        <button type="submit" class="btn btn-light-main btn-icon"
                                                            [disabled]="national">
                                                            <i class="fa-solid fa-upload"></i>
                                                        </button>
                                                        <input type="file" #uploadDoc4 name="myfile"
                                                            class="form-control" formControlName="permitDoc"
                                                            (change)="imageUpload($event,'national')" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                        class="btn bg-danger bg-opacity-10 text-danger"
                                                        (click)="clearDocument('uploadDoc4')"
                                                        [disabled]="deleteUplDoc4">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-container w-100">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-light-main" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-main" (click)="saveVehicleDetails()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>