<div class="position-relative mb-3">
    <h5 mat-dialog-title class="mb-0">{{cardTitle}}</h5>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close (click)="onNoClick('No')"><i
            class="fas fa-times"></i></button>
</div>
<div>
    <form [formGroup]="registerVehicleForm" #formDirective="ngForm" (ngSubmit)="saveVehicleDetails(formDirective)">
        <div class="row">
            <div class="col-sm-3">
                <div class="position-relative">
                    <img src={{vehiclePhoto}} class="vehicle-image">
                    <input type="file" name="myfile" #updVehiclePhoto (change)="vehiclePhotoUpd($event,'vehicle')"
                        accept=".png,.jpg,.jpeg" style="display:none" />
                    <div class="vehicle-buttons d-flex flex-column upload-btn-wrapper">
                        <button type="button" class="btn bg-light text-primary" *ngIf="!this.profilePhotoImg?.length && this.vehiclePhoto =='assets/images/Vehicle-profile.svg'" (click)="updVehiclePhoto.click()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    <button type="button" *ngIf="this.profilePhotoImg?.length && this.vehiclePhoto!='assets/images/Vehicle-profile.svg'" class="border border-0 btn bg-light text-danger"
                         (click)="clearDoc('profile')">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Vehicle No</mat-label>
                            <input matInput formControlName="vehicleNo" required
                                (keypress)="this.vs.alphaNumeric($event)" maxlength="15"
                                [value]="registerVehicleForm.get('vehicleNo')?.value | uppercase">
                            <mat-error *ngIf="f['vehicleNo'].errors">
                                <span *ngIf="f['vehicleNo'].hasError('required')" class="text-danger">Vehicle number
                                    required</span>
                                <span *ngIf="f['vehicleNo'].hasError('pattern')" class="text-danger">Please enter valid
                                    vehicle numbers</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Fuel Type</mat-label>
                            <mat-select formControlName="fuelType">
                                <mat-option *ngFor="let fuel of fuelsType" [value]="fuel.fuelTypeId">
                                    {{fuel.fuelType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Manufacturer</mat-label>
                            <input matInput formControlName="manufacturer" (keypress)="this.vs.alphaNumeric($event)"
                                maxlength="17" required>
                                <mat-error *ngIf="f['manufacturer'].errors">
                                    <span *ngIf="f['manufacturer'].hasError('required')" class="text-danger">Manufacturer is
                                        required</span>
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Model</mat-label>
                            <input matInput formControlName="model" required (keypress)="this.vs.alphaNumericWithSpaces($event)"
                                maxlength="30">
                            <mat-error *ngIf="f['model'].errors">
                                <span *ngIf="f['model'].hasError('required')" class="text-danger">Model is
                                    required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Chassis No.</mat-label>
                            <input matInput formControlName="chassicNo" required
                                (keypress)="this.vs.alphaNumeric($event)" maxlength="17">
                            <mat-error *ngIf="f['chassicNo'].errors">
                                <span *ngIf="f['chassicNo'].hasError('required')" class="text-danger">Chassis number
                                    required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Engine No.</mat-label>
                            <input matInput formControlName="engineNo" required
                                (keypress)="this.vs.alphaNumeric($event)" maxlength="14">
                            <mat-error *ngIf="f['engineNo'].errors">
                                <span *ngIf="f['engineNo'].hasError('required')" class="text-danger">Engine number
                                    required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>Insurance Expiry Date</mat-label>
                                <input matInput [matDatepicker]="picker" [readonly]="true"
                                    placeholder="Insurance Expiry Date" formControlName="insuranceExDate" maxlength="20"
                                    minlength="15" (blur)="checkDocumentUpd('insurance')" (click)="picker.open()"
                                    [min]="minDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                                <mat-error *ngIf="f['insuranceExDate'].errors">
                                    <span class="text-danger"
                                        *ngIf="f['insuranceExDate'].hasError('required')">Insurance
                                        expiry date is required</span>
                                </mat-error>
                            </mat-form-field>
                            <input type="file" name="myfile" #uploadInsurance style="display: none;"
                                (change)="documentUpload($event,'insurance')" accept=".pdf" />
                            <button type="button" *ngIf="!this.insuranceDoc?.length" mat-icon-button
                                (click)="uploadInsurance.click()" matTooltip="Upload only PDF file" accept=".pdf"
                                required>
                                <mat-icon>file_upload</mat-icon>
                            </button>
                            <button type="button" mat-icon-button *ngIf="this.insuranceDoc?.length"
                                (click)="clearDoc('insurance')">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>Register Certificate Number</mat-label>
                                <input matInput placeholder="Register Certificate Number" formControlName="registerNo"
                                    [value]="registerVehicleForm.value.vehicleNo" (blur)="checkDocumentUpd('register')"
                                    maxlength="10" [readonly]="true">
                            </mat-form-field>
                            <div>
                                <input type="file" name="myfile" #uploadRegister style="display: none;"
                                    (change)="documentUpload($event,'register')" accept=".pdf" />
                                <button type="button" *ngIf="!this.registerDoc?.length" mat-icon-button
                                    (click)="uploadRegister.click()" matTooltip="Upload only PDF file" accept=".pdf">
                                    <mat-icon>file_upload</mat-icon>
                                </button>
                                <button type="button" mat-icon-button *ngIf="this.registerDoc?.length"
                                    (click)="clearDoc('register')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>Pollution Expiry Date</mat-label>
                                <input matInput [matDatepicker]="datePicker" [readonly]="true"
                                    placeholder="Pollution Expiry Date" formControlName="pollutionExDate" maxlength="10"
                                    (keyup)="this.vs.noSpaces($event)" (click)="datePicker.open()" [min]="minDate"
                                    (blur)="checkDocumentUpd('pollution')">
                                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                <mat-datepicker #datePicker startView="multi-year"></mat-datepicker>
                                <mat-error *ngIf="f['pollutionExDate'].errors">
                                    <span class="text-danger"
                                        *ngIf="f['pollutionExDate'].hasError('required')">Pollution expiry date is
                                        required</span>
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <input type="file" name="myfile" #uploadPollution style="display:none;"
                                    (change)="documentUpload($event,'pollution')" accept=".pdf" />
                                <button type="button" *ngIf="!this.pollutionDoc?.length" mat-icon-button
                                    (click)="uploadPollution.click()" matTooltip="Upload only PDF file" accept=".pdf"
                                    required>
                                    <mat-icon>file_upload</mat-icon>
                                </button>
                                <button type="button" mat-icon-button *ngIf="this.pollutionDoc?.length"
                                    (click)="clearDoc('pollution')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>Fitness Expiry Date</mat-label>
                                <input matInput [matDatepicker]="datePickers" [readonly]="true"
                                    placeholder="Fitness Expiry Date" formControlName="fitnessExDate"
                                    (keyup)="this.vs.noSpaces($event)" (click)="datePickers.open()" [min]="minDate"
                                    (blur)="checkDocumentUpd('fitness')" required>
                                <mat-datepicker-toggle matSuffix [for]="datePickers"></mat-datepicker-toggle>
                                <mat-datepicker #datePickers startView="multi-year"></mat-datepicker>
                                 <mat-error *ngIf="f['fitnessExDate'].errors">
                                    <span class="text-danger" *ngIf="f['fitnessExDate'].hasError('required')">Fitness expiry date is required</span>
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <input type="file" name="myfile" #uploadFitness style="display:none;"
                                    (change)="documentUpload($event,'fitness')" accept=".pdf" />
                                <button type="button" *ngIf="!this.fitnessDoc?.length" mat-icon-button
                                    (click)="uploadFitness.click()" matTooltip="Upload only PDF file" accept=".pdf">
                                    <mat-icon>file_upload</mat-icon>
                                </button>
                                <button type="button" mat-icon-button *ngIf="this.fitnessDoc?.length"
                                    (click)="clearDoc('fitness')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <mat-form-field [appearance]="config.matFormField" class="w-100">
                                <mat-label>National Permit Number</mat-label>
                                <input matInput placeholder="Permit Number" formControlName="permitNo" maxlength="10"
                                    (keyup)="this.vs.noSpaces($event)" (blur)="checkDocumentUpd('permit')">
                                <mat-error *ngIf="f['permitNo'].errors" required>
                                    <span class="text-danger" *ngIf="f['permitNo'].hasError('required')">National permit
                                        number is required</span>
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <input type="file" name="myfile" #uploadPermit style="display: none;"
                                    (change)="documentUpload($event,'permit')" accept=".pdf" />
                                <button type="button" *ngIf="!this.nationalDoc?.length" mat-icon-button
                                    (click)="uploadPermit.click()" matTooltip="Upload only PDF file" accept=".pdf"
                                    required>
                                    <mat-icon>file_upload</mat-icon>
                                </button>
                                <button type="button" mat-icon-button *ngIf="this.nationalDoc?.length"
                                    (click)="clearDoc('permit')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-container w-100">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-light-main" data-bs-dismiss="modal"
                        (click)="onNoClick('No')">Cancel</button>
                    <button type="submit" class="btn btn-main">{{buttonFlag?'Save':'Update'}}</button>
                </div>
            </div>
        </div>
    </form>
</div>