.avatar{
    width: 34px;
    border-radius: 50%;
}
.navbar .dropdown-menu{
    padding: 10px;
    font-size: 0.85rem;
    border: none;
}
.navbar .dropdown-menu .dropdown-item{
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.navbar{
    padding-block: 5px;
}
.navbar .btn{
    font-size: 0.85rem;
    color: #575757;
    border-color: transparent;
    box-shadow:none;
    display: flex;
    align-items: center;
}
.navbar .btn .material-icons{
    font-size: 1.2rem !important; 
    height:20px !important;
    width: 20px !important;
}
.navbar .btn:hover{
    color: #000;
}