<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="d-flex align-content-end w-100" id="navbarSupportedContent">
            <div class="ms-auto d-flex align-items-center" role="search">
                <a class="btn btn-light bg-transparent me-1" (click)="toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>   
                </a>
                <a class="btn btn-light bg-transparent" routerLink="notifications">
                    <i class="fa-solid fa-bell"></i>
                </a>
                <a class="btn btn-light bg-transparent" (click)="toggleBackgroundImage()">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </a>
                <div class="dropdown bg-transparent">
                    <button class="btn btn-light dropdown-toggle shadow-none bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/assets/images/Driver-profile.svg" class="avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" [routerLink]="['my-profile']">Profile</a></li>
                      <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav>