<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 px-0">
            <div class="dialog card border-0">
                <div class="card-header border-bottom-0 bg-transparent p-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 mat-dialog-title class="mb-3"> {{dialogData?.cardTitle}}</h5>
                        <div class="mt-3 text-end">
                            <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-0">
                    <p class="mb-4 small" *ngIf="dialogData?.p1">{{dialogData?.p1}}</p>
                    <p class="mb-4 small" *ngIf="dialogData?.p2">{{dialogData?.p2}}</p>
                    <div *ngIf="data.inputType">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Remark</mat-label>
                            <textarea matInput ngDefaultControl [formControl]="remark" rows="4"> </textarea>
                        </mat-form-field>
                    </div>
                    <!-----------------------------------------------------------------Assign driver modal ---------------------------------------->

                    <ng-container *ngIf="dialogData.cardTitle== 'Assign Driver'">
                        <div class="row gx-2 align-items-center mt-4 mb-3">
                            <div class="col-sm">
                                <h5 class="mb-0">{{dialogData?.v1}}</h5>
                            </div>
                            <div class="col-sm-auto">
                                <button type="button" class="btn btn-light-main btn-sm" (click)="onNoClick('Ok')">
                                    Add Driver <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-sm">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Select Driver Name</mat-label>
                                    <mat-select [formControl]="driverName">
                                        <mat-option *ngFor="let driver of driverData" [value]="driver.driverId"
                                            [disabled]="driver.isAssigned==1">
                                            {{driver.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                    <!----------------------------------------------------------------------End assign driver modal---------------------------------->
                    <!----------------------------------------------------------------------start chnage password modal------------------------------->
                    <ng-container *ngIf="dialogData.cardTitle== 'Change Password'">
                             <form [formGroup]="changePassForm">
                                    <div class="col-sm-12 form-container">
                                        <div class="mb-3">
                                            <mat-form-field [appearance]="config.matFormField" class="w-100 form-group">
                                                <mat-label>Current Password</mat-label>
                                                <input matInput [type]="CurrentPasswordHide ? 'password' : 'text'"
                                                    autocomplete="nope" formControlName="currentPwd"
                                                    [ngClass]="{ 'is-invalid':fpass['currentPwd'].errors }">
                                                <button type="button" mat-icon-button matSuffix
                                                    (click)="CurrentPasswordHide = !CurrentPasswordHide"
                                                    [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="CurrentPasswordHide">
                                                    <mat-icon>{{CurrentPasswordHide ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error>
                                                    <span *ngIf="fpass['currentPwd'].errors?.['required']"
                                                        class="text-danger">Required Current Password</span>
                                                    <span *ngIf="fpass['currentPwd'].errors?.['pattern']"
                                                        class="text-danger">Invalid Current Password format</span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="mb-3">
                                            <mat-form-field [appearance]="config.matFormField" class="w-100 form-group">
                                                <mat-label>New Password</mat-label>
                                                <input matInput [type]="newPasswordHide ? 'password' : 'text'"
                                                    formControlName="newPwd"
                                                    [ngClass]="{ 'is-invalid':fpass['newPwd'].errors }">
                                                <button type="button" mat-icon-button matSuffix
                                                    (click)="newPasswordHide = !newPasswordHide"
                                                    [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="newPasswordHide">
                                                    <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error>
                                                    <span *ngIf="fpass['newPwd'].errors?.['required']"
                                                        class="text-danger">Required New Password</span>
                                                    <span *ngIf="fpass['newPwd'].errors?.['pattern']"
                                                        class="text-danger">Invalid New Password format</span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="mb-4">
                                            <mat-form-field [appearance]="config.matFormField" class="w-100 form-group">
                                                <mat-label>Retype Password</mat-label>
                                                <input matInput [type]="retypePasswordHide ? 'password' : 'text'"
                                                    formControlName="reTypePwd"
                                                    [ngClass]="{'is-invalid':fpass['reTypePwd'].errors}">
                                                <button type="button" mat-icon-button matSuffix
                                                    (click)="retypePasswordHide = !retypePasswordHide"
                                                    [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="retypePasswordHide">
                                                    <mat-icon>{{retypePasswordHide ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error>
                                                    <span *ngIf="fpass['reTypePwd'].errors?.['required']"
                                                        class="text-danger">Required Confirm Password</span>
                                                    <span *ngIf="fpass['reTypePwd'].errors?.['pattern']"
                                                        class="text-danger">Invalid Confirm Password format</span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-main btn" style="margin-left: 220px;" (click)="onChangePassword()">Submit</button>
                                </form> 
                    </ng-container>

                    <!-----------------------------------------------------------------------End change password modal-------------------------------->

                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="me-2 btn-light-main btn" type="button" mat-dialog-close
                                (click)="onNoClick('No')"
                                *ngIf="dialogData?.cancelBtnText">{{dialogData?.cancelBtnText}}</button>
                            <button cdkFocusInitial (click)="onNoClick('Yes')" class="btn-main btn" type="submit"
                                *ngIf="dialogData?.successBtnText ">{{dialogData?.successBtnText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>