<p class="fw-bold small mb-2">Notifications </p>

<div class="row">
    <div class="col-sm-12">
        <div class="bg-main-gradient py-2 px-3 rounded mb-3">
            Total Notification
            <span class="ms-4 fw-bold">100</span>
        </div>
        <div class="card border-0 mb-3">
            <div class="card-body py-0">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Select Vehicles</mat-label>
                            <mat-select multiple>
                                <mat-select-trigger>
                                    {{toppings.value?.[0] || ''}}
                                    <span *ngIf="(toppings.value?.length || 0) > 1"
                                        class="example-additional-selection">
                                        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other'
                                        : 'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matPrefix class="me-3 mt-1">local_shipping</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm text-end">
                        <button class="btn btn-light btn-sm shadow-none" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-filter"></i>
                            <span class="ms-2">Filter</span>
                        </button>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header bg-light-gradient text-dark text-start">Dropdown header</h6>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon green me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Ignition On</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon red me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Ignition Off</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon magenta me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Geo-fence enter</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon voilet me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Geo-fence exit</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon yellow me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Over-Speed</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon orange me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Power Cut</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon olive me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Vibration</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon light-orange me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Low battery</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center drop-item">
                                <div class="icon gray me-3"><i class="fa-solid fa-circle"></i></div>
                                <div class="flex-grow-1">Other</div>
                                <div class="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center drop-item">
                                <button type="button" class="btn-close" aria-label="Close"></button>
                                <a href="#" class="text-main text-decoration-none">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0">
            <div class="card-body">
                <ul class="list-group list-group-flush" id="notification">
                    <li class="list-group-item d-flex justify-content-between align-items-end">
                        <div class="ms-2 me-auto">
                            <div class="vehicle-no text-warning">Ignition off : MH12 AB 1234</div>
                            <div class="vehicle-location">314 M From Harunja Post Office, Harjuna, Yavatmal,
                                Maharashtra, 445002, India.</div>
                        </div>
                        <span class="last-update">Last Updated : 22 Jul 22, 10:10 AM</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-end">
                        <div class="ms-2 me-auto">
                            <div class="vehicle-no text-success">Ignition off : MH12 AB 1234</div>
                            <div class="vehicle-location">314 M From Harunja Post Office, Harjuna, Yavatmal,
                                Maharashtra, 445002, India.</div>
                        </div>
                        <span class="last-update">Last Updated : 22 Jul 22, 10:10 AM</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-end">
                        <div class="ms-2 me-auto">
                            <div class="vehicle-no text-success">Ignition off : MH12 AB 1234</div>
                            <div class="vehicle-location">314 M From Harunja Post Office, Harjuna, Yavatmal,
                                Maharashtra, 445002, India.</div>
                        </div>
                        <span class="last-update">Last Updated : 22 Jul 22, 10:10 AM</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>