<div class="position-relative mb-3">
    <h5 mat-dialog-title class="mb-0">{{'Make Payment'}}</h5>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close (click)="onNoClick(formDirective)"><i
            class="fas fa-times"></i></button>
</div>


<div>
    <form [formGroup]="paymentForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <strong>Vehicles : {{vehicles.toString()}}</strong>
            <div class="row justify-content-between">
                <div class="col-sm-6">
                    <mat-form-field appearance="standard" class="w-100">
                        <mat-label>Enter Owner Name</mat-label>
                        <input matInput placeholder="Enter Owner Name" (keyPress)="this.validationService.alphabetsWithSpaces($event)"
                         formControlName="fName">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="standard" class="w-100">
                        <mat-label>Enter Mobile Number</mat-label>
                        <input matInput placeholder="Enter Mobile Number"  formControlName="mobileNumber"
                        (keyPress)="this.validationService.onlyDigits($event)" [maxlength]="10">
                        <mat-error *ngIf="f['mobileNumber'].errors">
                            <span *ngIf=" f['mobileNumber'].hasError('pattern')" class="text-danger">Please enter valid
                            mobile numbers</span>
                        </mat-error>
                    </mat-form-field>
                    
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-sm-6">
                    <mat-form-field appearance="standard" class="w-100">
                        <mat-label>Enter Email id</mat-label>
                        <input matInput placeholder="Email id"  formControlName="emailId"
                        (keyPress)="this.validationService.alphaNumericWithSpacesAndSpecChars($event)">
                        <mat-error *ngIf="f['emailId'].errors">
                            <span *ngIf="f['emailId'].hasError('pattern')" class="text-danger">Please enter valid
                            email Id</span>
                        </mat-error>
                    </mat-form-field>
                   
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="standard" class="w-100">
                        <mat-label>Enter GSTIN</mat-label>
                        <input matInput placeholder="GSTIN"  formControlName="gSTNo"
                        (keyPress)="this.validationService.alphabetsWithSpaces($event)"
                        [value]="f['gSTNo'].value | uppercase"> 
                        <!-- <mat-error *ngIf="f['gSTNo'].errors">
                            <span *ngIf="f['gSTNo'].hasError('pattern')" class="text-danger">Please enter valid
                                GSTIN numbers</span>
                        </mat-error> -->
                    </mat-form-field>
                   
                </div>
            </div>
            <div class="row justify-content-between gx-2 mb-0">
                <div class="col-sm">
                    <small class="text-muted">Basic Amount (₹) :</small>
                    <p>{{(dialogData?.basicTotal).toFixed(2)}}</p>
                </div>
                <div class="col-sm">
                    <small class="text-muted">GST ({{dialogData?.otherDetails?.gst}}%) :</small>
                    <p>{{(dialogData?.gstTotal).toFixed(2)}}</p>
                </div>
                <div class="col-sm">
                    <small class="text-muted">Transaction Cost ({{dialogData?.otherDetails?.transactionPercentage}}%) :</small>
                    <p>{{(dialogData?.transactionCostTotal).toFixed(2)}}</p>
                </div>
                <div class="col-sm">
                    <small class="text-muted">Total Amount :</small>
                    <p>{{(dialogData?.amountTotal).toFixed(2)}}</p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="form-container w-100">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-light-main" (click)="onNoClick('No')">Cancel</button>
                    <button class="btn btn-main">Make Payment</button>
                </div>
            </div>
        </div>
    </form>
</div>
