<p class="fw-bold small mb-2">Payment</p>

<div class="row">
    <div class="col-sm-12">
        <div class="bg-main-gradient py-2 px-3 rounded mb-3">
            <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-payment-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-stoppage" type="button" role="tab" aria-controls="pills-payment"
                        aria-selected="true">Payment</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-payment-history-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-payment-history" type="button" role="tab"
                        aria-controls="pills-payment-history" aria-selected="false">Payment History</button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-stoppage">
                <div class="card border-0 rounded">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <p class="mb-0">Payment List</p>
                            </div>
                            <div class="col-3">
                                <input type="search" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">SR.NO</th>
                                    <th scope="col">VEHICLES.NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">MOBILE NUMBER</th>
                                    <th>RATE</th>
                                    <th>BASIC AMOUNT</th>
                                    <th>GST(18%)</th>
                                    <th>TRANSACTION COST (2.04%)</th>
                                    <th>TOTAL AMOUNT</th>
                                    <th>SELECT PAYMENT </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>mh 12 yt 1234</td>
                                    <td>aABC</td>
                                    <td>8669264767</td>
                                    <td>3000/vehicle</td>
                                    <td>3000</td>
                                    <td>540</td>
                                    <td>72.22</td>
                                    <td>3,612.22</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button class="btn btn-main" mat-raised-button data-bs-toggle="modal"
                            data-bs-target="#Modal_Toggle">
                            Make Payment
                        </button>
                    </div>
                </div>
            </div>


            <div class="modal fade modal-lg" id="Modal_Toggle" aria-hidden="true"
                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Make Payment</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>Vehicles : MH 12 YT 3462</strong> 
                                            </div>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="row justify-content-between mt-4">
                                            <div class="col-sm-6">
                                                <div>Owner Name</div>
                                                <mat-form-field appearance="fill" class="w-100">
                                                    <mat-label>Enter Owner Name</mat-label>
                                                    <input matInput placeholder="Enter Owner Name">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6">
                                                <div>Mobile Number</div>
                                                <mat-form-field appearance="fill" class="w-100">
                                                    <mat-label>Enter Mobile Number</mat-label>
                                                    <input matInput placeholder="EnterMobile Number">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-sm-6">
                                                <div>Email id</div>
                                                <mat-form-field appearance="fill" class="w-100">
                                                    <mat-label>Enter Email id</mat-label>
                                                    <input matInput placeholder="Email id">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6">
                                                <div>GSTIN</div>
                                                <mat-form-field appearance="fill" class="w-100">
                                                    <mat-label>Enter GSTIN</mat-label>
                                                    <input matInput placeholder="GSTIN">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-sm-6">
                                                <div class="row justify-content-between">
                                                    <div class="col-sm-6">
                                                        <p class="mb-0">Basic Amount (₹) :</p>
                                                        <p>3,000.00</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="mb-0">GST (18%) :</p>
                                                        <p>540.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row ">
                                                    <div class="col-sm-7">
                                                        <p class="mb-0">Transaction Cost (2.04%) :</p>
                                                        <p>72.22</p>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <p class="mb-0">Total Amount :</p>
                                                        <p>3,612.22</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="ms-auto m-3">
                                        <button mat-stroked-button color="primary" data-bs-toggle="modal">
                                            Clear
                                        </button>
                                        <button mat-raised-button color="primary" data-bs-toggle="modal" class="btn-main ms-2">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            <div class="tab-pane fade active" id="pills-payment-history">
                <div class="card border-0 rounded">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="pe-3">
                                <p>Payment List</p>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>From Date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>TO Date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">SR.NO</th>
                                    <th scope="col">TRANSACTION ID</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">NO OF VEHICLES</th>
                                    <th>VEHICLE.NO</th>
                                    <th>PAYMENT DATE</th>
                                    <!-- <th>GST(18%)</th> -->
                                    <th>AMOUNT</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>TXKFLRIGBNE1234566</td>
                                    <td>Nilesh Rajashi</td>
                                    <td>01</td>
                                    <td>MH 12 YT 1234</td>
                                    <td>31-8-2022</td>
                                    <td>3,612.22</td>
                                    <td>Success</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>