<p class="page-heading">Vehicle</p>

<div class="row">
    <div class="col-sm-12">
        <div class="display-bar">
            <div class="d-flex align-items-center">
                <div class="me-3">Total Vehicle</div>
                <div class="fw-bold">{{totalVehicle}}</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <ng-container *ngIf="!this.vehicleDetails?.length">
    <div class="col-sm-12">
        <div class="card card-body plain-card card-fullheight">
            <div class="text-center justify-content-center">
                <img src="../../../assets/images/No-Vehicle-Registered.svg" alt="">
                <p class="my-3">No Vehicle Registered</p>
                <button class="btn btn-main" (click)="vehicleModal('add','')">
                    Add Vehicle
                </button>
            </div>
        </div>
    </div>
  </ng-container>
  <ng-container *ngIf="this.vehicleDetails?.length">
    <div class="col-sm-12">
        <div class="card card-body border-0">
            <div class="card form-card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <div class="row align-items-center">
                                <div class="col-sm-auto">
                                    Vehicle List
                                </div>
                                 <div class="col-sm-auto">
                                        <div class="input-group d-flex">
                                            <span>
                                                <input type="text" class="form-control w-100"
                                                placeholder="Vehicle Number" [formControl]="vehicleNo"
                                                (keypress)="this.validation.alphaNumeric($event)" required
                                                maxlength="15">
                                            </span>
                                            <span class="input-group-text" *ngIf="!this.vehicleNo.value">
                                                <i class="fa-solid fa-magnifying-glass" (click)="paginationNo=1;getVehiclesData('search')"></i>
                                            </span>
                                            <span class="input-group-text" *ngIf="this.vehicleNo.value">
                                                <i class="fa-solid fa-xmark" (click)="clearSearchData()"></i></span>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-end">
                            <button [disabled]="!vehicleData.length || !checkedVehicle.length" class="btn btn-danger rounded-circle"
                            (click)="confirmationDialog(true, 'delete')">
                            <i class="fa-regular fa-trash-can"></i>  </button>

                            <button class="btn btn-add ms-3" (click)="vehicleModal('add','')">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table dashboard-table mb-0">
                        <thead>
                            <tr>
                                <th>SR. NO.</th>
                                <th></th>
                                <th>VEHICLES NO.</th>
                                <th>MANUFACTURER</th>
                                <th>MODEL</th>
                                <th>DRIVER NAME</th>
                                <th>MOBILE NO.</th>
                                <th>UPDATE DRIVER</th>
                                <th>UNBLOCK/BLOCK</th>
                                <th>ACTION</th>
                                <th>
                                    <mat-checkbox  [disabled]="!vehicleData.length" (change)='selectVehicle($event,0)' value=""  [(ngModel)]="selectAll"></mat-checkbox>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vehicle of vehicleData | paginate: {itemsPerPage: pageSize, 
                                currentPage: paginationNo, totalItems:totalItem}; let i=index"
                                [ngClass]="{'highLightRow':highLightRow==vehicle.vehicleId}">
                                <td>{{((paginationNo + 1) * 10 + i + 1)-20}}</td>
                                <td style="width:50px;">
                                    <img src="assets/images/Vehicle-profile.svg" style="width: 37px;">
                                </td>
                                <td>{{vehicle.vehicleNo}}</td>
                                <td>{{vehicle.manufacturer || '-'}}</td>
                                <td>{{vehicle.model || '-'}}</td>
                                <td>{{vehicle.driverName || '-'}}</td>
                                <td><a href="tel:{{vehicle.mobileNo}}" style="text-decoration: none;">{{vehicle.mobileNo || '-'}}</a></td>
                                <td>
                                    <button class="btn btn-light-main btn-sm" *ngIf="!vehicle?.driverName" [disabled]="vehicle.isBlockFlag"
                                    (click)="confirmationDialog(true,'assign','assign',vehicle)">Assign Driver</button>

                                    <button class="btn border border-warning text-warning btn-sm" *ngIf="vehicle?.driverName"
                                    (click)="confirmationDialog(false,'assign','unassign',vehicle)">Unassign Driver</button>
                                    </td>
                                <td>
                                    <div class="form-check form-switch">
                                            <mat-slide-toggle [checked]="vehicle.isBlockFlag"
                                            (change)="confirmationDialog($event.checked,'status',$event,vehicle)">
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn btn-light-main btn-icon me-2 btn-sm" (click)="vehicleModal('edit',vehicle)">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <mat-checkbox [(ngModel)]="vehicle.checked" (change)="selectVehicle($event,vehicle.vehicleNo)"
                                      value=""></mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!vehicleData?.length" class="w-100">
                        <div class="alert alert-danger text-center errorMSG w-100">Data is not available
                        </div>
                    </div>
                 <div *ngIf="vehicleData?.length !=0 && totalItem > 10">
                    <pagination-controls previousLabel="" nextLabel=""
                        (pageChange)="onPagintion($event)" class="text-end m-2">
                    </pagination-controls>
                 </div>
                </div>
            </div>
        </div>
    </div>
    </ng-container>
</div>


