<!-- <p class="page-heading">Driver</p> -->
<div class="row">
    <div class="col-sm-12">
        <div class="display-bar">
            <div class="d-flex align-items-center">
                <div class="me-3">Total Driver</div>
                <div class="fw-bold">{{totalItem}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ng-container *ngIf="!checkdata?.length">
        <div class="col-sm-12">
            <div class="card card-body plain-card card-fullheight">
                <div class="text-center justify-content-center">
                    <img src="../../../assets/images/No-Vehicle-Registered.svg" alt="">
                    <p class="my-3">No Driver Registered</p>
                    <button class="btn btn-main" data-bs-toggle="modal" data-bs-target="#AddVehicleModal">
                        Add Driver
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="col-sm-12">
        <div class="card card-body border-0">
            <div class="card form-card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-sm-8">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    Driver List
                                </div>
                                    <div class="input-group d-flex">
                                        <span>
                                            <input type="text" class="form-control"
                                                placeholder="Driver Name/Mobile No." [formControl]="driverName"
                                                (keypress)="this.validation.alphaNumeric($event)" required
                                                maxlength="15">
                                        </span>
                                    <span class="input-group-text" *ngIf="!driverName?.value">
                                            <i class="fa-solid fa-magnifying-glass"
                                                (click)="paginationNo=1;getDriverDetails('search')"></i>
                                        </span>
                                        <span class="input-group-text" *ngIf="driverName?.value">
                                            <i class="fa-solid fa-xmark" (click)="driverName.reset();clearSearchData()"></i></span> 
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-end">
                            <button [disabled]="!checkArray.length || !driverDetails?.length" class="btn btn-danger rounded-circle"
                            (click)="confirmationDialog(true, 'delete')">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                            <button type="button" class="btn btn-add ms-3"  (click)="commonModule('add')">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>                            
                    </div>
                </div>
                <div class="card-body">
                    <table class="table dashboard-table">
                        <thead>
                            <tr>
                                <th class="srno">SR.NO</th>
                                <th class="srno"></th>
                                <th>NAME</th>
                                <th>MOBILE NUMBER</th>
                                <th>UNBLOCK/BLOCK</th>
                                <th>ACTION</th>
                                <th>
                                    <mat-checkbox [disabled]="!driverDetails?.length" (change)='removeDriverCheck($event,0)' value=""  [(ngModel)]="selectAll"></mat-checkbox>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let driver of driverDetails | paginate: {itemsPerPage: pageSize, 
                                currentPage: paginationNo, totalItems:totalItem}; let i=index"
                                [ngClass]="{'highLightRow':highLightRow==driver.driverId}">
                                <td>{{((paginationNo + 1) * 10 + i + 1)-20}}</td>
                                <td>
                                    <img src="../../../assets/images/Driver-profile.svg" alt=""
                                        class="vehicle-image">
                                </td>
                                <td>{{driver.name}}
                                </td>
                                <td><a href="tel:{{driver.mobileNo}}" style="text-decoration: none;">{{driver.mobileNo}}</a></td>
                                <td>
                                    <mat-slide-toggle [checked]="driver.isBlockFlag"
                                        (change)="confirmationDialog($event.checked,'status',$event,driver)">
                                    </mat-slide-toggle>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-light-main btn-icon me-2"
                                            (click)="commonModule('edit',driver)">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <mat-checkbox [(ngModel)]="driver.checked" (change)="removeDriverCheck($event,driver.driverId)"
                                      value=""></mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!driverDetails?.length" class="w-100">
                        <div class="alert alert-danger text-center errorMSG w-100">Data is not available
                        </div>
                    </div>
                    <div *ngIf="driverDetails?.length != 0 && totalItem > 10">
                        <pagination-controls previousLabel="" nextLabel=""
                            (pageChange)="onPagintion($event)" class="text-end m-2">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
