@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', "Helvetica Neue", sans-serif;background-color: #F2F6FF; }
.page-wrapper.toggled .sidebar {
    left: -300px;
  }
  // angular perfect scrollbar style
  .sidebar .ps.ps--scrolling-y>.ps__rail-y,
  .sidebar>.ps.ps--scrolling-x>.ps__rail-x,
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
  }
  .sidebar .ps.ps--active-y>.ps__rail-y:hover,
  .sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
    width: 10px !important;
  }
  .ps__thumb-y {
    background-color: #fff !important;
    width: 6px!important;
    border-radius: 0px!important;
    opacity: .5;
  }

  :root{
    --main-color:rgb(60, 142, 249);
    --main-light-color:rgb(183, 214, 255);
    --main-dark-color:rgb(1, 91, 208);
    --main-gradient:linear-gradient(90deg, rgba(60,142,249,1) 0%, rgba(47,199,170,1) 100%);;
  }
  .light-mode{
    --bg-color:rgb(255,255,255);
  }
  .dark-mode{
    --bg-color:rgb(35, 35, 35);
  }
  .bg-main{
    background-color:var(--main-color);
  }
  .btn-main{
    background-color:var(--main-color);
    color: #fff;
  }
  .btn-main:focus,
  .btn-main:hover{
    background:var(--main-gradient);
    color: #fff;
  }
  .bg-main-light{
    background-color:var(--main-light-color);
  }
  .bg-main-gradient{
    background: var(--main-gradient);
    color: #fff;
  }
  #pills-tab .nav-link{
    font-size: 0.85rem;
    color: #fff;
    text-transform: capitalize;
    margin-right: 1rem;
  }
  #pills-tab .nav-link.active{
    background-color: rgba(255,255,255,0.2);
  }
.report-list .report-name p{
  font-size: 0.95rem;
  font-weight: 500;
}
.report-list .report-name small{
  font-size: 0.8rem;
  color: #333;
}
.report-list .list-group-item{
  padding:15px 10px 15px 0px;
  background-color:transparent;
}
.report-list .list-group-item.active{
  background-color: transparent;
  border-bottom: solid 1px rgba(0,0,0,0.125);
}
.report-list .list-group-item .report-name{
  padding-left:15px;
}
.report-list .list-group-item .report-name{
  border-left: solid 3px transparent;
}
.report-list .list-group-item:hover .report-name,
.report-list .list-group-item.active .report-name{
  border-left: solid 3px var(--main-color);
}
.report-list .list-group-item:hover p,
.report-list .list-group-item.active p{
  color: var(--main-color);
}
.report-list .list-group-item:hover mat-icon,
.report-list .list-group-item.active mat-icon{
  color: var(--main-color);
}
.form-container .form-label{
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.mat-option-text,
.mat-select-value-text,
mat-form-field{
  font-size: 0.85rem !important;
  font-family: "Inter", sans-serif !important;
}
.form-container .btn{
  font-size: 0.85rem !important;
  box-shadow: none !important;
}
.plain-card{
  border:none;
}
.plain-card .card-header{
  border-bottom:none;
  background-color: transparent;
  font-size: 0.85rem !important;
  font-weight: 600;
  padding: 15px;
}
.plain-card .card-body{
  font-size: 0.85rem !important;
}
#captcha {
  margin-left: -25px;
  margin-top: 2px;
  background-image: url(assets/captcha-bg.jpg);
  padding-left: 3px;
  /* width: 85%; */
  height: 34px;
}