@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', "Helvetica Neue", sans-serif;background-color: #E4ECF2; }
.page-wrapper.toggled .sidebar {
    left: -300px;
  }
  // angular perfect scrollbar style
  .sidebar .ps.ps--scrolling-y>.ps__rail-y,
  .sidebar>.ps.ps--scrolling-x>.ps__rail-x,
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
  }
  .sidebar .ps.ps--active-y>.ps__rail-y:hover,
  .sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
    width: 10px !important;
  }
  .ps__thumb-y {
    background-color: #fff !important;
    width: 6px!important;
    border-radius: 0px!important;
    opacity: .5;
  }

  :root{
    --main-color:rgb(60, 142, 249);
    --main-light-color:rgb(60, 142, 249, 0.2);
    --main-dark-color:rgb(1, 91, 208);
    --main-gradient:linear-gradient(90deg, rgba(60,142,249,1) 0%, rgba(47,199,170,1) 100%);;
    --main-light-gradient:linear-gradient(90deg, rgba(60,142,249,0.2) 0%, rgba(47,199,170,0.2) 100%);;
  }
  .light-mode{
    --bg-color:rgb(255,255,255);
  }
  .dark-mode{
    --bg-color:rgb(35, 35, 35);
  }
  .text-main{
    color:var(--main-color);
  }
  .bg-main{
    background-color:var(--main-color);
  }
  .btn-main{
    background-color:var(--main-color);
    color: #fff;
  }
  .btn-main:focus,
  .btn-main:hover{
    background:var(--main-gradient);
    color: #fff;
  }
  .btn-light-main{
    background-color:var(--main-light-color);
    color: var(--main-color);
  }
  .btn-light-main:focus,
  .btn-light-main:hover{
    background:var(--main-gradient);
    color: #fff;
  }
  .bg-main-light{
    background-color:var(--main-light-color);
  }
  .bg-main-gradient{
    background: var(--main-gradient);
    color: #fff;
  }
  .bg-light-gradient{
    background: var(--main-light-gradient);
    color: #fff;
  }
  #pills-tab .nav-link{
    font-size: 0.85rem;
    color: #fff;
    text-transform: capitalize;
    margin-right: 1rem;
  }
  #pills-tab .nav-link.active{
    background-color: rgba(255,255,255,0.2);
  }
.report-list .report-name p{
  font-size: 0.95rem;
  font-weight: 500;
}
.report-list .report-name small{
  font-size: 0.8rem;
  color: #333;
}
.report-list .list-group-item{
  padding:15px 10px 15px 0px;
  background-color:transparent;
}
.report-list .list-group-item.active{
  background-color: transparent;
  border-bottom: solid 1px rgba(0,0,0,0.125);
  border-top: none;
}
.report-list .list-group-item .report-name{
  padding-left:15px;
}
.report-list .list-group-item .report-name{
  border-left: solid 3px transparent;
}
.report-list .list-group-item:hover .report-name,
.report-list .list-group-item.active .report-name{
  border-left: solid 3px var(--main-color);
}
.report-list .list-group-item:hover p,
.report-list .list-group-item.active p{
  color: var(--main-color);
}
.report-list .list-group-item:hover mat-icon,
.report-list .list-group-item.active mat-icon{
  color: var(--main-color);
}
.form-container .form-label{
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.mat-option-text,
.mat-select-value-text,
mat-form-field{
  font-size: 0.85rem !important;
  font-family: "Poppins", sans-serif !important;
}
.form-container .btn{
  font-size: 0.85rem !important;
  box-shadow: none !important;
}
.plain-card{
  border:none;
}
.plain-card .card-header{
  border-bottom:none;
  background-color: transparent;
  font-size: 0.85rem !important;
  font-weight: 600;
  padding: 15px;
}
.plain-card .card-body{
  font-size: 0.85rem !important;
}
.cdk-overlay-container{
  z-index: 9999;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 10px;
	background-color: #fff;
  transition:all 1s ease-in-out;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
  transition:all 1s ease-in-out;
}
*:hover::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: var(--main-color);
  transition:all 1s ease-in-out;
}
#captcha {
  margin-left: -25px;
  margin-top: 2px;
  background-image: url(assets/captcha-bg.jpg);
  padding-left: 3px;
  /* width: 85%; */
  height: 34px;
}
.mat-menu-content,
.mat-menu-content:not(:empty){
    padding: 0 !important;
}
.mat-menu-content .mat-menu-item,
.mat-menu-content:not(:empty) .mat-menu-item{
    line-height: 36px !important;
    height: 36px !important;
}
.dashboard-table{
  font-size: 0.85rem;
}
.dashboard-table th{
  background-color:#eee;
  font-weight: normal;
}
.dashboard-table th,
.dashboard-table td{
  vertical-align: middle;
}
.dashboard-table td .btn-icon{
  font-size: 0.8rem;
  height: 33px;
  width: 33px;
  text-align: center;
  padding: 0.4rem 0.5rem;
}
.dashboard-table td .btn{
  font-size: 0.8rem;
  box-shadow: none;
}
.dashboard-table td .vehicle-image{
  width: 40px;
  height: 40px;
}
.form-card .card-header{
  font-size: 0.85rem;
  font-weight: 600;
  border-bottom: none;
}
.form-card .card-header .btn-add{
  font-size: 0.85rem;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  color: #fff;
}
.form-card .form-control{
  font-size: 0.85rem;
  box-shadow: none;
}
.modal .modal-header{
  padding-block: 10px;
}
.modal .modal-header .btn-close{
  padding-block: 5px;
  background-size: 30%;
  box-shadow: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 0.85rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.card-fullheight{
  height: 72vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.card-fullheight img{
  width: 80px;
}
.card-fullheight .btn{
  font-size: 0.85rem;
}