<p class="fw-bold small mb-2">Tracking</p>

<div class="row">
    <div class="col-sm-12">
        <div class="bg-main-gradient py-2 px-3 rounded mb-3">
            <div class="row align-items-center" id="filters">
                <div class="col-sm-4 border-end">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
                <div class="col-sm-2 border-end">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0">Total Vehicles</p>
                        <h5 class="mb-0">2200</h5>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-light text-success">
                        Running <span class="badge text-bg-success ms-3">14</span>
                    </button>
                    <button type="button" class="btn btn-light text-warning mx-2">
                        Stopped <span class="badge text-bg-warning ms-3">24</span>
                    </button>
                    <button type="button" class="btn btn-light text-primary me-2">
                        Idle <span class="badge text-bg-primary ms-3">34</span>
                    </button>
                    <button type="button" class="btn btn-light text-danger">
                        Offline <span class="badge text-bg-danger ms-3">44</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card border-0 rounded">
            <div class="card-body fixed-height p-0">
                <a class="d-flex vehicle p-3" routerLink="#" routerLinkActive="active">
                    <div class="flex-shrink-0">
                        <div class="bg-success bg-opacity-25 text-success rounded-circle vehicle-icon">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <a routerLink="#" class="text-success">
                                <p class="vehicle-no">MH29T0444</p>
                            </a>
                            <span class="text-success veh-status">
                                <i class="fa-solid fa-circle me-2"></i>Running
                            </span>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="assets/images/Tracking/location-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-location">
                                <p>Yavatmal District Maharashtra</p>
                                <small>22 Jul 2022, 16:28</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <img src="assets/images/Tracking/info-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-running">
                                35 kmph | Running since : 3 days : 5 hrs | 480 km today
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="vehicle-status">
                                <div class="d-flex">
                                    <span><img src="assets/images/Tracking/battery.svg" class="me-1"> 50%</span>
                                    <span class="mx-3"><img src="assets/images/Tracking/network.svg" class="me-1">
                                        100%</span>
                                    <span><img src="assets/images/Tracking/ON-vehicle.svg" class="me-1"> ON</span>
                                </div>
                            </div>
                            <div class="share-call">
                                <a href="#" class="me-3" data-bs-toggle="modal"
                                    data-bs-target="#ShareLocationModal"><img
                                        src="assets/images/Tracking/share.svg"></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#CallDriverModal"><img
                                        src="assets/images/Tracking/call-vehicle.svg"></a>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="d-flex vehicle p-3" routerLink="#" routerLinkActive="active">
                    <div class="flex-shrink-0">
                        <div class="bg-primary bg-opacity-25 text-primary rounded-circle vehicle-icon">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <a routerLink="#" class="text-primary">
                                <p class="vehicle-no">MH29T0444</p>
                            </a>
                            <span class="text-primary veh-status">
                                <i class="fa-solid fa-circle me-2"></i>Idle
                            </span>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="assets/images/Tracking/location-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-location">
                                <p>Yavatmal District Maharashtra</p>
                                <small>22 Jul 2022, 16:28</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <img src="assets/images/Tracking/info-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-running">
                                35 kmph | Running since : 3 days : 5 hrs | 480 km today
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="vehicle-status">
                                <div class="d-flex">
                                    <span><img src="assets/images/Tracking/battery.svg" class="me-1"> 50%</span>
                                    <span class="mx-3"><img src="assets/images/Tracking/network.svg" class="me-1">
                                        100%</span>
                                    <span><img src="assets/images/Tracking/ON-vehicle.svg" class="me-1"> ON</span>
                                </div>
                            </div>
                            <div class="share-call">
                                <a href="#" class="me-3" data-bs-toggle="modal"
                                    data-bs-target="#ShareLocationModal"><img
                                        src="assets/images/Tracking/share.svg"></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#CallDriverModal"><img
                                        src="assets/images/Tracking/call-vehicle.svg"></a>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="d-flex vehicle p-3 bg-opacity-10 bg-danger" routerLink="#" routerLinkActive="active">
                    <div class="flex-shrink-0">
                        <div class="bg-danger bg-opacity-25 text-danger rounded-circle vehicle-icon">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <a routerLink="#" class="text-danger">
                                <p class="vehicle-no">MH29T0444</p>
                            </a>
                            <span class="text-danger veh-status">
                                <i class="fa-solid fa-circle me-2"></i>Offline
                            </span>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="assets/images/Tracking/location-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-location">
                                <p>Yavatmal District Maharashtra</p>
                                <small>22 Jul 2022, 16:28</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <img src="assets/images/Tracking/info-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-running">
                                35 kmph | Running since : 3 days : 5 hrs | 480 km today
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="vehicle-status">
                                <div class="d-flex">
                                    <span><img src="assets/images/Tracking/battery.svg" class="me-1"> 50%</span>
                                    <span class="mx-3"><img src="assets/images/Tracking/network.svg" class="me-1">
                                        100%</span>
                                    <span><img src="assets/images/Tracking/ON-vehicle.svg" class="me-1"> ON</span>
                                </div>
                            </div>
                            <div class="share-call">
                                <a href="#" class="me-3" data-bs-toggle="modal"
                                    data-bs-target="#ShareLocationModal"><img
                                        src="assets/images/Tracking/share.svg"></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#CallDriverModal"><img
                                        src="assets/images/Tracking/call-vehicle.svg"></a>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="d-flex vehicle p-3" routerLink="#" routerLinkActive="active">
                    <div class="flex-shrink-0">
                        <div class="bg-warning bg-opacity-25 text-warning rounded-circle vehicle-icon">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <a routerLink="#" class="text-warning">
                                <p class="vehicle-no">MH29T0444</p>
                            </a>
                            <span class="text-warning veh-status">
                                <i class="fa-solid fa-circle me-2"></i>Stopped
                            </span>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="assets/images/Tracking/location-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-location">
                                <p>Yavatmal District Maharashtra</p>
                                <small>22 Jul 2022, 16:28</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <img src="assets/images/Tracking/info-vehicle.svg" class="me-2 mt-1">
                            <div class="vehicle-running">
                                35 kmph | Running since : 3 days : 5 hrs | 480 km today
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="vehicle-status">
                                <div class="d-flex">
                                    <span><img src="assets/images/Tracking/battery.svg" class="me-1"> 50%</span>
                                    <span class="mx-3"><img src="assets/images/Tracking/network.svg" class="me-1">
                                        100%</span>
                                    <span><img src="assets/images/Tracking/ON-vehicle.svg" class="me-1"> ON</span>
                                </div>
                            </div>
                            <div class="share-call">
                                <a href="#" class="me-3" data-bs-toggle="modal"
                                    data-bs-target="#ShareLocationModal"><img
                                        src="assets/images/Tracking/share.svg"></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#CallDriverModal"><img
                                        src="assets/images/Tracking/call-vehicle.svg"></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        asdf
    </div>
</div>


<!-- Modal for share location -->
<div class="modal fade" id="ShareLocationModal" tabindex="-1" aria-labelledby="ShareLocationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="ShareLocationModalLabel">Share Location</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Favorite food</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-container">
                            <label class="form-label">Share Via</label>
                            <div class="d-block">
                                <img src="assets/images/Tracking/whatsapp.svg" class="share-icon me-4">
                                <img src="assets/images/Tracking/gmail.svg" class="share-icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-container w-100">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-light-main" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-main">Share Location</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for call driver -->
<div class="modal fade" id="CallDriverModal" tabindex="-1" aria-labelledby="CallDriverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-light-gradient text-dark">
                <p class="modal-title mb-0" id="CallDriverModalLabel">Call Driver on</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-0 fw-bold">+ 91 9421774125</p>
            </div>
            <div class="modal-footer">
                <div class="form-container w-100">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-light-main" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-main">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>