<div class="position-relative mb-4">
    <h5 mat-dialog-title class="mb-0">Share Location</h5>
    <button type="button" class="btn-modal-close" mat-icon-button mat-dialog-close><i
            class="fas fa-times"></i></button>
</div>

<div class="row mb-4">
    <div class="col-sm-8">
        <mat-form-field appearance="standard" class="w-100">
            <mat-label>Select Time Period</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of timeZone" name="timePeriod" [formControl]="timePeriod" [value]="item?.id">
                    {{item?.lable}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <div class="form-container">
            <label class="form-label">Share Via</label>
            <div class="d-block">
                <img src="assets/images/Tracking/whatsapp.svg" class="share-icon me-4">
                <img src="assets/images/Tracking/gmail.svg" class="share-icon">
            </div>
        </div>
    </div>
</div>
<div class="form-container w-100">
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light-main" type="button" mat-dialog-close (click)="onNoClick('No')" >Close</button>
        <button type="button" class="btn btn-main" cdkFocusInitial (click)="onNoClick('Yes')"type="submit">Share Location</button>
    </div>
</div>
