<p class="page-heading">Geofence</p>

<div class="row">
    <div class="col-sm-12">
        <div class="display-bar">
            <div class="d-flex align-items-center">
                <div class="me-3">Total Geofence Vehicles</div>
                <div class="fw-bold">120</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" *ngIf="GeofenceListTableData.length==0">
        <div class="card card-body plain-card card-fullheight">
            <div class="text-center justify-content-center">
                <img src="../../../assets/images/Geofence.svg" alt="">
                <p class="my-3">No Geofence Created</p>
                <button class="btn btn-main" data-bs-toggle="modal" data-bs-target="#CreateGeofenceModal">
                    New Geofence
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card card-body border-0">
            <div class="card form-card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <div class="row align-items-center">
                                <div class="col-sm-auto">
                                    Geofence List
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-end">
                            <button class="btn btn-add" data-bs-toggle="modal" data-bs-target="#CreateGeofenceModal">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table dashboard-table mb-0">
                        <thead>
                            <tr>
                                <th>SR. No</th>
                                <th>VEHICLES NO</th>
                                <th>LOCATION (AREA)</th>
                                <th>ACTIVE</th>
                                <th>ACTION</th>
                                <th>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>MH 12 YT 1234</td>
                                <td>SATARA</td>
                                <td>
                                    <mat-slide-toggle></mat-slide-toggle>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn btn-light-main btn-icon me-2" data-bs-toggle="modal"
                                            data-bs-target="#CreateGeofenceModal">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn bg-danger bg-opacity-10 text-danger">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="CreateGeofenceModal" tabindex="-1" aria-labelledby="CreateGeofenceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <form [formGroup]="CreateGeoForm">
            <div class="modal-content">
                <div class="modal-header border-0 bg-light-gradient text-dark">
                    <p class="modal-title mb-0" id="CreateGeofenceModalLabel">
                        Create Geofence
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-sm-5">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Select Vehicle</mat-label>
                                <mat-select multiple formControlName="vhlNumbers">
                                    <mat-select-trigger>
                                        {{toppings.value?.[0] || ''}}
                                        <span *ngIf="(toppings.value?.length || 0) > 1">
                                            (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ?
                                            'other'
                                            : 'others'}})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let vhlNumber of VehicleDtArr"
                                        [value]="vhlNumber.vehicleRegistrationNo">{{vhlNumber.vehicleRegistrationNo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="d-flex">
                                <span class="vehicle-chips" *ngFor="let vhldata of f['vhlNumbers'].value">
                                    {{vhldata}}
                                    <button type="button" class="btn-close" aria-label="Close"
                                        (click)="unCheckCheckbox(vhldata)"></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <mat-form-field class="w-100" appearance="legacy">
                                <mat-label>Search Area</mat-label>
                                <input matInput aria-label="Number" placeholder="Search Location" autocorrect="off"
                                    autocapitalize="off" spellcheck="off" autocomplete="off" type="text" #search
                                    formControlName="loaction" required (keyup)="clearlatlong($event)"
                                    (keydown.enter)="$event.preventDefault()">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div id="map" class="mapouter gmap_canvas">
                                <agm-map [latitude]="lat" [longitude]="lng" [zoomControl]="true" [scrollwheel]="true"
                                (mapClick)="mapClicked($event)">
                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                  </agm-map>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <div class="form-container w-100">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-light-main" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-main" (click)="CreateGeofence()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>