<div class="d-flex justify-content-between align-items-center">
    <p class="fw-bold small mb-2">Dashboard</p>
    <p class="small mb-2">Date - 26-08-2022</p>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card mb-3 plain-card">
            <div class="card-header">Fleet Status</div>
            <div class="card-body">
                asdf
            </div>
        </div>
        <div class="card plain-card mb-3">
            <div class="card-header">Live Tracking</div>
            <div class="card-body">
                asdf
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row" id="dash-stats">
            <div class="col-sm-6">
                <div class="card mb-3 plain-card">
                    <div class="card-body position-relative">
                        <img src="assets/images/Dashboard/overspeed.svg">
                        <p>Overspeed</p>
                        <small>Speed more than set limit</small>
                        <div class="alerts alert-red">
                            <h4>22</h4>
                            <small>Alerts</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3 plain-card">
                    <div class="card-body position-relative">
                        <img src="assets/images/Dashboard/POl-Alert.svg">
                        <p>POl Alert</p>
                        <small>In/Out of prohibited Geo-fence</small>
                        <div class="alerts alert-violet">
                            <h4>22</h4>
                            <small>Alerts</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3 plain-card">
                    <div class="card-body position-relative">
                        <img src="assets/images/Dashboard/Power-Cut.svg">
                        <p>Power Cut</p>
                        <small>Vehicle GPS Power Cut</small>
                        <div class="alerts alert-orange">
                            <h4>22</h4>
                            <small>Alerts</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3 plain-card">
                    <div class="card-header">SIM Renewal Reminder</div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-6">
                                <img src="assets/images/Dashboard/Reminder-Due.svg">
                                <small>Due</small>
                                <h3>32</h3>
                            </div>
                            <div class="col-6">
                                <img src="assets/images/Dashboard/Reminder-overdue.svg">
                                <small>Overdue</small>
                                <h3>32</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3 plain-card">
                    <div class="card-header">Average Speed</div>
                    <div class="card-body">
                        asdf
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3 plain-card">
                    <div class="card-header">Fastest Vehicle</div>
                    <div class="card-body">
                        asdf
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card plain-card mb-3">
            <div class="card-header">Vehicles - Last Updated</div>
            <div class="card-body">
                asdf
            </div>
        </div>
        <div class="card plain-card">
            <div class="card-header">sadf</div>
            <div class="card-body">
                asdf
            </div>
        </div>
    </div>
</div>